<html>

<head>
    <% include ../includes/styles %>
    <% include ../includes/scripts %>
    <script type="text/javascript" src="/javascripts/bankDetailsJS.js"></script>



</head>

<body>
    <div class="wrapper">
            <div class="sidebar" data-color="orange_light">
                    <!--
                                      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
                                  -->
                    <div class="logo">
                        <h4><a href="" class="simple-text logo-normal">
                                Nurture Software
                            </a></h4>
                    </div>
                    <div class="sidebar-wrapper" id="sidebar-wrapper">
                        <ul class="nav">
                            <li>
                                <a href="/login/dashboard">
                                    <i class="material-icons" style="font-size: 25px;">dashboard</i>
                                    <strong class="fnt">Dashboard</strong>
                                </a>
                            </li>

                            <li id="sub_menu" class="active">

                                <a href="#">
                                    <i class="material-icons" style="font-size: 25px;">group</i>
                                    <strong class="fnt">Members</strong>
                                </a>
                                <ul class="hid sub_col">

                                    <div class="sub_mar"><a href="/memberDetailsModule/memberDetails/memberdetails"
                                            class="ml-1" style="color: #ffffff;">Members</a>
                                    </div>

                                    <div class="sub_mar"><a href="/memberDetailsModule/memberDetails/mem_div_search"
                                            class="ml-1" style="color: #ffffff;">Members
                                            Dividend</a></div>

                                    <div class="sub_mar"> <a href="/memberDetailsModule/memberDetails/mem_share_search"
                                            class="ml-1" style="color: #ffffff;">Members
                                            Share Details</a></div>

                                    <div class="sub_mar"> <a href="/memberDetailsModule/memberDetails/mem_farm_search"
                                            class="ml-1" style="color: #ffffff;">Farm
                                            Machinery Details</a></div>

                                    <div class="sub_mar"><a href="/memberDetailsModule/memberDetails/mem_hse_det_ser"
                                            class="ml-1" style="color: #ffffff;">House
                                            Details</a></div>

                                    <div class="sub_mar"> <a href="/memberDetailsModule/memberDetails/kcc_search"
                                            class="ml-1" style="color: #ffffff;">KCC
                                            Details</a></div>

                                </ul>
                            </li>

                            <li>
                                <a href="/login/deposits">
                                    <i class="material-icons" style="font-size: 25px;">thumbs_up_down</i>
                                    <strong class="fnt">Deposits</strong>
                                </a>
                            </li>


                            <li>
                                <a href="/login/loans">
                                    <i class="material-icons" style="font-size: 25px;">file_upload</i>
                                    <strong class="fnt">Loans</strong>
                                </a>
                            </li>


                            <li id="sub_menu">
                                <a href="#">
                                    <i class="material-icons" style="font-size: 25px;">account_balance</i>
                                    <strong class="fnt">Bank</strong>
                                </a>
                                <ul class="hid mt-1 sub_col">
    
                                    <div class="sub_mar"><a class="ml" href="/bankModule/bankDetails/asso_bank_search"
                                            style="color: #ffffff">Associated
                                            Bank</a></div>
    
                                    <div class="sub_mar"><a class="ml" href="/bankModule/bankDetails/asso_branch_search"
                                            style="color: #ffffff">Associated Branch</a></div>
    
                                    <div class="sub_mar">
                                        <a class="ml" href="/bankModule/bankDetails/asso_bank_account_master_search"
                                            style="color: #ffffff">Associated Bank Account Master</a>
                                    </div>
    
                                    <div class="sub_mar">
                                        <a class="ml" href="/bankModule/bankDetails/asso_bank_cheque_book_search"
                                            style="color: #ffffff">Associated Bank Cheque Book</a>
                                    </div>
    
                                    <div class="sub_mar">
                                        <a class="ml" href="/bankModule/bankDetails/asso_bank_account_search"
                                            style="color: #ffffff">Associated Bank Account Type</a>
                                    </div>
                                     
                                <div class="sub_mar">
                                    <a class="ml" href="/bankModule/bankDetails/asso_bank_deposit_returns_search"
                                        style="color: #ffffff">Associated Bank Deposit Returns</a>
                                </div>
    
                                
                                <div class="sub_mar">
                                    <a class="ml" href="/bankModule/bankDetails/asso_bank_deposit_master_search"
                                        style="color: #ffffff">Associated Bank Deposit Master</a>
                                </div>
    
                                </ul>
                            </li>


                            <li>
                                <a href="/login/market">
                                    <i class="material-icons" style="font-size: 25px;">local_grocery_store</i>
                                    <strong class="fnt">Market</strong>
                                </a>
                            </li>

                            <li>
                                <a href="/login/reports">
                                    <i class="material-icons" style="font-size: 25px;">date_range</i>
                                    <strong class="fnt">Reports</strong>
                                </a>
                            </li>



                            <li>

                                <a href="/login/payroll">
                                    <i class="material-icons" style="font-size: 25px;">payment</i>
                                    <strong class="fnt">Payroll</strong>
                                </a>



                            </li>
                            <li>
                                <a href="/login/hr">
                                    <i class="material-icons" style="font-size: 25px;">account_box</i>
                                    <strong class="fnt">HR</strong>
                                </a>
                            </li>


                            <li>

                                <a href="/login/user">
                                    <i class="material-icons" style="font-size: 25px;">person</i>
                                    <strong class="fnt">User</strong>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

        <div class="main-panel" id="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg colo">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="#pablo"><strong>BANK</strong> </a>
                    </div>
                    <button class="navbar-toggler dot" type="button" data-toggle="collapse" data-target="#navigation"
                        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <strong class="fnt">User 1</strong>
                                    <i class="now-ui-icons users_single-02 ml-2"></i>
                                    <p>
                                        <span class="d-lg-none d-md-block">Some Actions</span>
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Upload Photo<i
                                            class=" material-icons ml-2">add_a_photo</i></a>
                                    <a class="dropdown-item" href="#">Logout<i
                                            class=" ml-5 material-icons">power_settings_new</i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
  <%if (pagetype=='ADD'){ %>
            <div class="content">
                <div class="row-sm ">
                    <div class="col-sm-12">
                        <div class="card tp">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <form autocomplete="off" action="../../bankModule/bankDetails/bnk_details" method="post" id="bankdetailsform">
                                <h6>Associate Bank</h6>

                                <!-- flash message -->
                                <% if(locals.message){ %>
                                    <div class="text text-center" role="alert"
                                    background-color: red;>
                                    <strong style="color:green"><%= message.success_msg %></strong>
                                    </div>
                                <% } %>

                                <hr>
                                <h6>Add Records</h6>
                                <hr>

                                <div class="content">
                                    <div class="container row mb-4">
                                        <div class="col-sm-12 col-md-6">
                                            <label for="bank_cd" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Bank Code
                                                <span class="astrix">*</span></label>
                                            <select required class="col-sm-12 col-md-6" id="bank_cd" name="bank_cd" onchange="setBankName()">
                                                    <option >Select Bank Code </option>
                                                <% for(var i=0;i < bank.length;i++) { %>
                                                    <option value="<%= bank[i].bcd_ch_bank_code%>"> <%= bank[i].bcd_ch_bank_code %></option>
                                                                              <% } %>
                                            </select>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <label for="bnk_name" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Bank Name
                                                <span class="astrix">*</span></label>
                                            <select required class="col-sm-12 col-md-6" id="bnk_name" name="bnk_name" onchange= "setBankCode()">
                                                <option >Select Bank Name </option>
                                                <% for(var i=1;i < bank.length;i++) { %>
                                                    <option value="<%= bank[i].bcd_ch_bank_name  %>"> <%= bank[i].bcd_ch_bank_name %></option>
                                                                              <% } %>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="container row mt-2">
                                            <div class="col-sm-12 col-md-6">
                                                    <label for="member_typ" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Is DCCB<span class="astrix">*</span></label>

                                                    <div
                                                    class="custom-control custom-radio custom-control-inline rad1 rad2">
                                                    <input type="radio" class="custom-control-input1"
                                                    id="dccbyes"
                                                    name="is_dccb" value="Yes">
                                                    <label class="custom-control-label1"
                                                    for="dccbyes">Yes</label>
                                                    </div>


                                                    <div
                                                    class="custom-control custom-radio custom-control-inline rad3">
                                                    <input type="radio" class="custom-control-input1"
                                                    id="dccbno"
                                                    name="is_dccb" value="No">
                                                    <label class="custom-control-label1"
                                                    for="dccbno">No</label>
                                                    </div>

                                                    </div>

                                        <div class="col-sm-12 col-md-6 ">
                                            <label for="add_line1" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Address Line 1 <span class="astrix">*</span>
                                            </label>
                                            <input type="text" class="col-sm-12 col-md-6" name="add_line1"
                                                id="add_line1" placeholder="" style="text-transform: capitalize">
                                        </div>
                                    </div>

                                    <div class="container row mt-4">
                                        <div id="datepicker" name="datepicker" class="col-sm-12 col-md-6">
                                            <label for="dob" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">District <span class="astrix">*</span>
                                            </label>
                                            <input type="text" class="col-sm-12 col-md-6" name="district" id="district"
                                                placeholder="" style="text-transform: capitalize" onkeypress="return alpha(event)">
                                        </div>

                                        <div id="datepicker" class="col-sm-12 col-md-6">
                                            <label for="bnk_acc_num" class="mr-sm-4 col-sm-12 col-md-5 ste" style="padding-left:0% !important;">State <span class="astrix">*</span>
                                            </label>
                                            <select name="bnkstate" id="bnkstate" class="col-sm-12 col-md-6"
                                                style="width:50%;">
                                                <option selected="" disabled="" value="" >Select State</option>>
                                                    <% for(var i=1;i < states.length;i++) { %>
                                                    <option value="<%= states[i].comm_code_desc  %>"> <%= states[i].comm_code_desc %></option>
                                                                              <% } %>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="container row mt-4">
                                        <div class="col-sm-12 col-md-6">
                                            <label for="adm_no" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Pincode <span class="astrix">*</span>
                                            </label>
                                            <input type="text" class="col-sm-12 col-md-6" name="pincode" id="pincode"
                                                placeholder=" " maxlength="6" onkeypress="return numeric(event)">
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <label for="dept" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Land Mark<span class="astrix">*</span>
                                            </label>
                                            <input type="text" class="col-sm-12 col-md-6" name="land_mark"
                                                id="land_mark" placeholder="" style="text-transform: capitalize">
                                        </div>
                                    </div>

                                    <div class="container row mt-2">
                                        <div class="col-sm-12 col-md-6">
                                            <label for="ent_fee" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Phone Number 1 <span class="astrix">*</span>
                                            </label>
                                            <input type="text" class="col-sm-12 col-md-6" name="ph_num1" id="ph_num1"
                                                placeholder="" maxlength="10" onkeypress="return numeric(event)">
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <label for="opn_shr_bal" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Phone Number 2 <span class="astrix">*</span>
                                            </label>
                                            <input type="text" class="col-sm-12 col-md-6" name="ph_num2" id="ph_num2"
                                                placeholder="" maxlength="10" onkeypress="return numeric(event)">
                                        </div>
                                    </div>

                                    <div class="container row mt-4">
                                        <div class="col-sm-12 col-md-6">
                                            <label for="coun_pay" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Email
                                            </label>
                                            <input type="text" class="col-sm-12 col-md-6" name="email" id="email"
                                                placeholder="" style="text-transform:lowercase">
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <label for="thrif_dept" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">URL
                                            </label>
                                            <input type="text" class="col-sm-12 col-md-6" name="url" id="url"
                                                placeholder="">
                                        </div>
                                    </div>

                                    <div class="container row mt-4">
                                        <div class="col-sm-12 col-md-6">
                                            <label for="dras" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Contact Person1 <span class="astrix">*</span>
                                                </label>
                                            <input type="text" class="col-sm-12 col-md-6" name="con_per1" id="con_per1"
                                                placeholder="" maxlength="10" style="text-transform: capitalize" onkeypress="return numeric(event)">
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <label for="bnk_acc_no" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Contact Person2 <span class="astrix">*</span>
                                            </label>
                                            <input type="text" class="col-sm-12 col-md-6" name="con_per2" id="con_per2"
                                                placeholder="" maxlength="10" style="text-transform: capitalize" onkeypress="return numeric(event)">
                                        </div>
                                    </div>

                                    <div class="container row mt-4">
                                        <div class="col-sm-12 col-md-2">
                                            <a type="button" class="btn" href="/bankModule/bankDetails/asso_bank_search"
                                                name="bck_search" id="bck_search" value="Back to Search">Back to
                                                Search</a>
                                        </div>
                                        <div class="col-sm-12 col-md-3">
                                            <input type="reset" class="btn clr clr1" name="clear_frm" id="clear_frm"
                                                value="Clear Form" onclick="clearAssociativeBankTab()">
                                        </div>
                                        <div class="col-sm-12 col-md-5"></div>
                                        <div class="col-sm-12 col-md-2">
                                            <input type="button" class="btn" name="sub" id="sub" value="Submit" onclick="bankDetails()">
                                        </div>
                                    </div>
                                </div>
                                <!-- end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <% } %>
<!-- EDIT -START-->
            <%if (pagetype=='EDIT'){ %>
            <div class="content">
                <div class="row-sm ">
                    <div class="col-sm-12">
                        <div class="card tp">
                            <div class="card-header"></div>
                            <div class="card-body">
                            <form action="../../bankModule/bankDetails/update_bank_edit" method="post" >
                                <h6>Edit Associate Bank Details</h6>

                                <!-- flash message -->
                                <% if(locals.message){ %>
                                    <div class="text text-center" role="alert"
                                    background-color: red;>
                                    <strong style="color:green"><%= message.success_msg %></strong>
                                    </div>
                                <% } %>

                                <hr>
                                <h6>Edit Records</h6>
                                <hr>

                                <div class="content">
                                    <div class="container row mb-4">
                                        <div class="col-sm-12 col-md-6">
                                        <label for="bank_cd_ed" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Bank Code
                                                <span class="astrix">*</span></label>
                                            <select  class="col-sm-12 col-md-6" id="bank_cd_ed" name="bank_cd_ed" onchange="setBankEditName()">
                                                <option><%=bank_code%></option>
                                                <% for(var i=1;i < bank.length;i++) { %>
                                                    <option value="<%= bank[i].bcd_ch_bank_code  %>"> <%= bank[i].bcd_ch_bank_code %></option>
                                                                              <% } %>
                                            </select>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                        <label for="bnk_name_ed" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Bank Name
                                                <span class="astrix">*</span></label>
                                            <select  class="col-sm-12 col-md-6" id="bnk_name_ed" name="bnk_name_ed" onchange= "setBankEditCode()">
                                                <option value="<%=bnk_name%>"><%=bnk_name%></option>
                                                <% for(var i=1;i < bank.length;i++) { %>
                                                    <option value="<%= bank[i].bcd_ch_bank_name  %>"> <%= bank[i].bcd_ch_bank_name %></option>
                                                                              <% } %>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="container row mt-2">
                                        <div class="col-sm-12 col-md-6">
                                        <%if(is_dccb=='Yes'){%>
                                            <label for="emp_code" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Is DCCB
                                                <span class="astrix">*</span></label>
                                        <input type="radio" checked name="is_dccb_ed" id="dccbyes_ed" value="Yes"  onclick="isdccb_ed_change(this)">Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="radio" name="is_dccb_ed" id="dccbno_ed" value="No" onclick="isdccb_ed_change(this)">No
                                        <%} else if(is_dccb=='No'){%>
                                            <label for="emp_code" class="mr-sm-4 col-sm-12 col-md-5" >Is DCCB
                                                    <span class="astrix">*</span></label>
                                                <input type="radio"  name="is_dccb_ed" id="dccbyes_ed"  value="Yes" onclick="isdccb_ed_change(this)">Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input type="radio" checked name="is_dccb_ed" id="dccbno_ed" value="No"  onclick="isdccb_ed_change(this)">No
                                            <%}%>
                                    </div>

                                        <div class="col-sm-12 col-md-6 ">
                                            <label for="doj" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Address Line 1 <span class="astrix">*</span>
                                            </label>
                                            <input type="text" class="col-sm-12 col-md-6" name="add_line1_ed"
                                            id="add_line1_ed" placeholder="" style="text-transform: capitalize" value="<%=add_line1%>">
                                        </div>
                                    </div>

                                    <div class="container row mt-4">
                                        <div id="datepicker" name="datepicker" class="col-sm-12 col-md-6">
                                            <label for="dob" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">District <span class="astrix">*</span>
                                            </label>
                                        <input type="text" class="col-sm-12 col-md-6" name="district_ed" id="district_ed" value="<%=dist%>"
                                            placeholder="" style="text-transform: capitalize" >
                                        </div>

                                        <div id="datepicker" class="col-sm-12 col-md-6">
                                        <label for="bnkstate_ed" class="mr-sm-4 col-sm-12 col-md-5 ste" style="padding-left:0% !important;">State <span class="astrix">*</span>
                                            </label>
                                            <select name="bnkstate_ed" id="bnkstate_ed" class="col-sm-12 col-md-6"
                                                style="width:50%;">
                                            <option value="<%=state%>" ><%=state%></option>>
                                                    <% for(var i=1;i < states.length;i++) { %>
                                                    <option value="<%= states[i].comm_code_desc  %>"> <%= states[i].comm_code_desc %></option>
                                                                              <% } %>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="container row mt-4">
                                        <div class="col-sm-12 col-md-6">
                                            <label for="adm_no" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Pincode <span class="astrix">*</span>
                                            </label>
                                        <input type="text" class="col-sm-12 col-md-6" name="pincode_ed" id="pincode_ed" value="<%=pincode%>"
                                            placeholder=" " maxlength="6" >
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <label for="dept" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Land Mark
                                            </label>
                                        <input type="text" class="col-sm-12 col-md-6" name="land_mark_ed" value="<%=land_mark%>"
                                                id="land_mark_ed" placeholder="" style="text-transform: capitalize">
                                        </div>
                                    </div>

                                    <div class="container row mt-2">
                                        <div class="col-sm-12 col-md-6">
                                            <label for="ent_fee" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Phone Number 1 <span class="astrix">*</span>
                                            </label>
                                        <input type="text" class="col-sm-12 col-md-6" name="ph_num1_ed" id="ph_num1_ed" value="<%=phone1%>"
                                            placeholder="" maxlength="10" >
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <label for="opn_shr_bal" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Phone Number 2 <span class="astrix">*</span>
                                            </label>
                                        <input type="text" class="col-sm-12 col-md-6" name="ph_num2_ed" id="ph_num2_ed" value="<%=phone2%>"
                                        maxlength="10" >
                                        </div>
                                    </div>

                                    <div class="container row mt-4">
                                        <div class="col-sm-12 col-md-6">
                                            <label for="coun_pay" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Email
                                            </label>
                                        <input type="text" class="col-sm-12 col-md-6" name="email_ed" id="email_ed" value="<%=mail_id%>"
                                                placeholder="" style="text-transform:lowercase">
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <label for="thrif_dept" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">URL
                                            </label>
                                        <input type="text" class="col-sm-12 col-md-6" name="url_ed" id="url_ed" value="<%=url%>"
                                                placeholder="">
                                        </div>
                                    </div>

                                    <div class="container row mt-4">
                                        <div class="col-sm-12 col-md-6">
                                            <label for="dras" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Contact Person1 <span class="astrix">*</span>
                                                </label>
                                        <input type="text" class="col-sm-12 col-md-6" name="con_per1_ed" id="con_per1_ed" value="<%=con1%>"
                                            placeholder="" maxlength="10" style="text-transform: capitalize">
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <label for="bnk_acc_no" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Contact Person2 <span class="astrix">*</span>
                                            </label>
                                        <input type="text" class="col-sm-12 col-md-6" name="con_per2_ed" id="con_per2_ed" value="<%=con2%>"
                                            placeholder="" maxlength="10" style="text-transform: capitalize" >
                                        </div>
                                    </div>

                                    <div class="container row mt-4">
                                        <div class="col-sm-12 col-md-2">
                                           <input hidden type="number" class="col-sm-12 col-md-6" name="bank_edit" id="bank_edit"
                                            placeholder="" value="<%=bank_edit_id%>">
                                            <a type="button" class="btn" href="/bankModule/bankDetails/asso_bank_search"
                                                name="bck_search_ed" id="bck_search_ed" value="Back to Search">Back to Search</a>
                                        </div>
                                        <div class="col-sm-12 col-md-3">
                                            <input type="reset" class="btn clr clr1" name="clear_frm_ed" id="clear_frm_ed"
                                                value="Clear Form" onclick="clearAssociativeBankTab()">
                                        </div>
                                        <div class="col-sm-12 col-md-5"></div>
                                        <div class="col-sm-12 col-md-2">
                                            <input type="submit" class="btn" name="sub_ed" id="sub_ed" value="Submit" onclick="bankDetails()">
                                        </div>
                                    </div>
                                </div>
                                <!-- end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>
            <!-- EDIT -END-->
             <!-- VIEW -START-->
    <%if(pagetype=='VIEW'){%>
             <div class="content">
                <div class="row-sm ">
                    <div class="col-sm-12">
                        <div class="card tp">
                            <div class="card-header"></div>
                            <div class="card-body">
                            <form action="../../bankModule/bankDetails/view_bank_data" method="post" id="bankdetailsform_view">
                                <h6>View Associate Bank Details</h6>

                               

                                <hr>
                                <h6>View Records</h6>
                                <hr>

                                <div class="content">
                                <fieldset disabled>
                                    <div class="container row mb-4">
                                        <div class="col-sm-12 col-md-6">
                                            <label for="member_typ" class="mr-sm-4 col-sm-12 col-md-5"  style="padding-left:0% !important;">Bank Code
                                                <span class="astrix">*</span></label>
                                        <select required class="col-sm-12 col-md-6" id="bank_cd_vw" name="bank_cd_vw" onchange="setBankName()">
                                            <option ><%=bank_code%> </option>

                                            </select>
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <label for="member_id" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Bank Name
                                                <span class="astrix">*</span></label>
                                        <select required class="col-sm-12 col-md-6"  id="bnk_name_vw" name="bnk_name_vw" onchange= "setBankCode()">
                                            <option ><%=bnk_name%> </option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="container row mt-2">
                                        <div class="col-sm-12 col-md-6">
                                        <%if(is_dccb=='Yes'){%>
                                            <label for="emp_code" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Is DCCB
                                                <span class="astrix">*</span></label>
                                            <input type="radio" checked name="is_dccb_vw" id="dccbyes_vw" value="<%=is_dccb%>">Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <input type="radio" name="is_dccb_vw" id="dccbno_vw" value="<%=is_dccb%>">No
                                            <%} else if(is_dccb=='No'){%>
                                                <label for="emp_code" class="mr-sm-4 col-sm-12 col-md-5">Is DCCB
                                                        <span class="astrix">*</span></label>
                                                    <input type="radio"  name="is_dccb_vw" id="dccbyes_vw" value="<%=is_dccb%>">Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <input type="radio" checked name="is_dccb_vw" id="dccbno_vw" value="<%=is_dccb%>">No
                                                <%}%>
                                        </div>

                                        <div class="col-sm-12 col-md-6 ">
                                            <label for="doj" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Address Line 1 <span class="astrix">*</span>
                                            </label>
                                            <input type="text" class="col-sm-12 col-md-6" name="add_line1_vw"
                                        id="add_line1_vw" placeholder="" style="text-transform: capitalize" value="<%=add_line1%>">
                                        </div>
                                    </div>

                                    <div class="container row mt-4">
                                        <div id="datepicker" name="datepicker" class="col-sm-12 col-md-6">
                                            <label for="dob" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">District <span class="astrix">*</span>
                                            </label>
                                            <input type="text" class="col-sm-12 col-md-6" name="district_vw" id="district_vw"
                                            placeholder="" style="text-transform: capitalize" onkeypress="return alpha(event)" value="<%=dist%>">
                                        </div>

                                        <div id="datepicker" class="col-sm-12 col-md-6">
                                            <label for="bnk_acc_num" class="mr-sm-4 col-sm-12 col-md-5 ste" style="padding-left:0% !important;">State <span class="astrix">*</span>
                                            </label>
                                            <select name="bnkstate_vw" id="bnkstate_vw" class="col-sm-12 col-md-6"
                                                style="width:50%;">
                                            <option  ><%=state%></option>>

                                            </select>

                                        </div>
                                    </div>

                                    <div class="container row mt-4">
                                        <div class="col-sm-12 col-md-6">
                                            <label for="adm_no" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Pincode <span class="astrix">*</span>
                                            </label>
                                            <input type="text" class="col-sm-12 col-md-6" name="pincode_vw" id="pincode_vw"
                                            placeholder=" " maxlength="6" onkeypress="return numeric(event)" value="<%=pincode%>">
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <label for="dept" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Land Mark
                                            </label>
                                            <input type="text" class="col-sm-12 col-md-6" name="land_mark_vw"
                                            id="land_mark_vw" placeholder="" style="text-transform: capitalize" value="<%=land_mark%>">
                                        </div>
                                    </div>

                                    <div class="container row mt-2">
                                        <div class="col-sm-12 col-md-6">
                                            <label for="ent_fee" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Phone Number 1 <span class="astrix">*</span>
                                            </label>
                                        <input type="text" class="col-sm-12 col-md-6"  name="ph_num1_vw" id="ph_num1_vw" value="<%=phone1%>"
                                                placeholder="" maxlength="10" onkeypress="return numeric(event)">
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <label for="opn_shr_bal" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Phone Number 2 <span class="astrix">*</span>
                                            </label>
                                        <input type="text" class="col-sm-12 col-md-6"  name="ph_num2_vw" id="ph_num2_ed" value="<%=phone2%>"
                                                placeholder="" maxlength="10" onkeypress="return numeric(event)">
                                        </div>
                                    </div>

                                    <div class="container row mt-4">
                                        <div class="col-sm-12 col-md-6">
                                            <label for="coun_pay" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Email
                                            </label>
                                        <input type="text" class="col-sm-12 col-md-6" name="email_vw" id="email_vw" value="<%=mail_id%>"
                                                placeholder="" style="text-transform:lowercase">
                                        </div>

                                        <div class="col-sm-12 col-md-6">
                                            <label for="thrif_dept" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">URL
                                            </label>
                                        <input type="text" class="col-sm-12 col-md-6" name="url_vw" id="url_vw" value="<%=url%>"
                                                placeholder="">
                                        </div>
                                    </div>

                                    <div class="container row mt-4">
                                        <div class="col-sm-12 col-md-6">
                                            <label for="dras" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Contact Person1 <span class="astrix">*</span>
                                                </label>
                                        <input type="text" class="col-sm-12 col-md-6"  name="con_per1_vw" id="con_per1_vw" value="<%=con1%>"
                                                placeholder="" maxlength="10" style="text-transform: capitalize" onkeypress="return numeric(event)">
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <label for="bnk_acc_no" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Contact Person2 <span class="astrix">*</span>
                                            </label>
                                        <input type="text" class="col-sm-12 col-md-6"   name="con_per2_vw" id="con_per2_vw" value="<%=con2%>"
                                                placeholder="" maxlength="10" style="text-transform: capitalize" onkeypress="return numeric(event)">
                                        </div>
                                    </div>
                            </fieldset>
                                    <div class="container row mt-4">
                                        <div class="col-sm-12 col-md-2">
                                            <a type="button" class="btn" href="/bankModule/bankDetails/asso_bank_search"
                                                name="bck_search_ed" id="bck_search_ed" value="Back to Search">Back to
                                                Search</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>
    </form>
            <!-- VIEW -END-->




    <% include ../includes/footer %>
</body>
<% include ../includes/bottom_scripts %>
</html>