<html>

<head>
  <% include ../includes/styles %>
  <% include ../includes/scripts %>
  <script type="text/javascript" src="/javascripts/bankDetailsJS.js"></script>

</head>



<body>
  <form action="../../bankModule/bankDetails/asso_bank_acc_deposit_edit" method="post" id="deposit_edit">
    <input name="edit_rtrn_typ" id="edit_rtrn_typ" hidden>
  </form>

  <form action="../../bankModule/bankDetails/asso_bank_acc_deposit_view" method="post" id="deposit_view">
    <input name="view_rtrn_typ" id="view_rtrn_typ" hidden>
  </form>

  <form action="../../bankModule/bankDetails/asso_bank_acc_deposit_delete" method="post" id="deposit_delete">
    <input name="delete_rtrn_typ" id="delete_rtrn_typ" hidden>
  </form>
  <div class="wrapper ">
    <div class="sidebar" data-color="orange_light">
      <!--
                                                        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
                                                    -->
      <div class="logo">
        <h4><a href="" class="simple-text logo-normal">
            Nurture Software
          </a></h4>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="/login/dashboard">
              <i class="material-icons" style="font-size: 25px;">dashboard</i>
              <strong class="fnt">Dashboard</strong>
            </a>
          </li>

          <li id="sub_menu" class="active">

            <a href="#">
              <i class="material-icons" style="font-size: 25px;">group</i>
              <strong class="fnt">Members</strong>
            </a>
            <ul class="hid sub_col">

              <div class="sub_mar"><a href="/memberDetailsModule/memberDetails/memberdetails" class="ml-1"
                  style="color: #ffffff;">Members</a>
              </div>

              <div class="sub_mar"><a href="/memberDetailsModule/memberDetails/mem_div_search" class="ml-1"
                  style="color: #ffffff;">Members
                  Dividend</a></div>

              <div class="sub_mar"> <a href="/memberDetailsModule/memberDetails/mem_share_search" class="ml-1"
                  style="color: #ffffff;">Members
                  Share Details</a></div>

              <div class="sub_mar"> <a href="/memberDetailsModule/memberDetails/mem_farm_search" class="ml-1"
                  style="color: #ffffff;">Farm
                  Machinery Details</a></div>

              <div class="sub_mar"><a href="/memberDetailsModule/memberDetails/mem_hse_det_ser" class="ml-1"
                  style="color: #ffffff;">House
                  Details</a></div>

              <div class="sub_mar"> <a href="/memberDetailsModule/memberDetails/kcc_search" class="ml-1"
                  style="color: #ffffff;">KCC
                  Details</a></div>

            </ul>
          </li>

          <li>
            <a href="/login/deposits">
              <i class="material-icons" style="font-size: 25px;">thumbs_up_down</i>
              <strong class="fnt">Deposits</strong>
            </a>
          </li>


          <li>
            <a href="/login/loans">
              <i class="material-icons" style="font-size: 25px;">file_upload</i>
              <strong class="fnt">Loans</strong>
            </a>
          </li>


          <li id="sub_menu">
            <a href="#">
                <i class="material-icons" style="font-size: 25px;">account_balance</i>
                <strong class="fnt">Bank</strong>
            </a>
            <ul class="hid mt-1 sub_col">

                <div class="sub_mar"><a class="ml" href="/bankModule/bankDetails/asso_bank_search"
                        style="color: #ffffff">Associated
                        Bank</a></div>

                <div class="sub_mar"><a class="ml" href="/bankModule/bankDetails/asso_branch_search"
                        style="color: #ffffff">Associated Branch</a></div>

                <div class="sub_mar">
                    <a class="ml" href="/bankModule/bankDetails/asso_bank_account_master_search"
                        style="color: #ffffff">Associated Bank Account Master</a>
                </div>

                <div class="sub_mar">
                    <a class="ml" href="/bankModule/bankDetails/asso_bank_cheque_book_search"
                        style="color: #ffffff">Associated Bank Cheque Book</a>
                </div>

                <div class="sub_mar">
                    <a class="ml" href="/bankModule/bankDetails/asso_bank_account_search"
                        style="color: #ffffff">Associated Bank Account Type</a>
                </div>
                 
            <div class="sub_mar">
                <a class="ml" href="/bankModule/bankDetails/asso_bank_deposit_returns_search"
                    style="color: #ffffff">Associated Bank Deposit Returns</a>
            </div>

            
            <div class="sub_mar">
                <a class="ml" href="/bankModule/bankDetails/asso_bank_deposit_master_search"
                    style="color: #ffffff">Associated Bank Deposit Master</a>
            </div>

            </ul>
        </li>


          <li>
            <a href="/login/market">
              <i class="material-icons" style="font-size: 25px;">local_grocery_store</i>
              <strong class="fnt">Market</strong>
            </a>
          </li>

          <li>
            <a href="/login/reports">
              <i class="material-icons" style="font-size: 25px;">date_range</i>
              <strong class="fnt">Reports</strong>
            </a>
          </li>



          <li>

            <a href="/login/payroll">
              <i class="material-icons" style="font-size: 25px;">payment</i>
              <strong class="fnt">Payroll</strong>
            </a>



          </li>
          <li>
            <a href="/login/hr">
              <i class="material-icons" style="font-size: 25px;">account_box</i>
              <strong class="fnt">HR</strong>
            </a>
          </li>


          <li>

            <a href="/login/user">
              <i class="material-icons" style="font-size: 25px;">person</i>
              <strong class="fnt">User</strong>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg colo">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#pablo"><strong>Bank</strong> </a>
          </div>
          <button class="navbar-toggler dot" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <strong class="fnt">User 1</strong>
                  <i class="now-ui-icons users_single-02 ml-2"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#"></i>Upload Photo<i class=" material-icons ml-2">add_a_photo</i></a>
                  <a class="dropdown-item" href="#">Logout<i class=" ml-5 material-icons">power_settings_new</i></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->

      <div class="content">
        <div class="row-sm ">
          <div class="col-sm">
            <div class="card tp">
              <div class="card-header">
                <!--Navbar -->
                <!-- <nav class="mb-1 navbar navbar-expand-lg navbar-collapse">
                          
                          
                                                            <div class="collapse navbar-collapse text-center" id="navbarSupportedContent-333">
                                                              <ul class="navbar-nav mr-auto">
                                                                <li class="nav-item active"> -->

                <!-- </li> -->
                <!-- </ul>
                                                            </div>
                                                          </nav> -->
                <!--/.Navbar -->
              </div>
              <div class="card-body">
                <div class="content">
                  <h6>Associated Bank Deposit Returns</h6>
                  <hr>
                  <h6>Search</h6>
                  <hr>
                  <form action="../../bankModule/bankDetails/asso_bank_deposit_returns_srch" method="post">

                    <!-- flash message -->
                    <% if(locals.message){ %>
                    <div class="text text-center" role="alert" background-color: red;>
                      <strong style="color:green"><%= message.success_msg %></strong>
                    </div>
                    <% } %>

                    <div class="container row mt-2">
                      <div class="col-sm-12 col-md-6">
                        <label for="ser_ass_bnk_depmas" class="mr-sm-4 col-sm-12 col-md-5"
                          style="padding-left:0% !important;">Associated Bank Deposit Master</label>
                        <input type="text" class="col-sm-12 col-md-6" name="ser_ass_bnk_depmas" id="ser_ass_bnk_depmas"
                          value="" placeholder="">

                      </div>
                    </div>


                    <div class="container row mt-2">
                      <div class="col-sm-12 col-md-6">
                        <label for="return_date" class="mr-sm-4 col-sm-12 col-md-5"
                          style="padding-left:0% !important;">Return Date Between</label>
                        <input class="col-sm-12 col-md-6" id="return_date" name="return_date" type="text" />
                        <span><i class="material-icons iicon1 iicon11 rdb" data-toggle="return_date"
                            data-target-name="return_date">
                            event_note
                          </i></span>

                      </div>
                      <div class="col-sm-12 col-md-6">
                        <label for="return_date1" class="mr-sm-4 col-sm-12 col-md-5"
                          style="padding-left:0% !important;">and</label>
                        <input class="col-sm-12 col-md-6" id="return_date1" name="return_date1" type="text" />
                        <span><i class="material-icons iicon1 iicon11 rdb rdb1" data-toggle="return_date1"
                            data-target-name="return_date1">
                            event_note
                          </i></span>
                      </div>
                    </div>

                    <div class="container row mt-2">
                      <div class="col-sm-12 col-md-6">
                        <label for="return_amount" class="mr-sm-4 col-sm-12 col-md-5"
                          style="padding-left:0% !important;">
                          Recived Amount between
                        </label>
                        <input type="number" class="col-sm-12 col-md-6" name="return_amount" id="return_amount"
                          placeholder="  ">
                      </div>
                      <div class="col-sm-12 col-md-6 ">
                        <label for="ser_and1" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">and

                        </label>
                        <input type="number" class="col-sm-12 col-md-6" name="ser_and1" id="ser_and1" placeholder="  ">

                      </div>
                    </div>
                    <div class="container row mt-2">
                      <div class="col-sm-12 col-md-6">
                        <label for="return_tds_amount" class="mr-sm-4 col-sm-12 col-md-5"
                          style="padding-left:0% !important;">
                          TDS Amount Between
                        </label>
                        <input type="number" class="col-sm-12 col-md-6" name="return_tds_amount" id="return_tds_amount"
                          placeholder="  ">
                      </div>
                      <div class="col-sm-12 col-md-6 ">
                        <label for="tds_and" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">and

                        </label>
                        <input type="number" class="col-sm-12 col-md-6" name="tds_and" id="tds_and" placeholder="  ">

                      </div>
                    </div>






                    <input type="submit" name="btnUplEmp" id="btnUplEmp" class="btn" value="Search"
                      onclick="return ValidationEvent()">
                    <input type="button" class="btn" id="notif" value="Reset" onclick="clearAssociatedBankDeposit()">
                    <br>
                    <div class="row">
                      <div class="d-sm-none d-md-block col-md-10"></div>
                      <!--<input type="submit" name="btnUplEmp" id="btnUplEmp" class="butn mean-fruit-gradient"
                                                    value="Add" onclick="return ValidationEvent()">
                                                  <input type="button" class="butn sunny-morning-gradient" id="notif" value="Print"
                                                    onclick="resetform()">-->

                      <a class="btn add1" id="btnUplEmp"
                        href="/bankModule/bankDetails/asso_bank_deposit_returns?key=ADD" input type="button" name="add"
                        id="add" value="Add Bank Deposit Returns Details">Add
                      </a>
                      <input type="button" class="btn print1" id="notif" value="Print" onclick="resetform()">

                    </div>

                    <div id="dtBasicExample_wrapper table-responsive" class="dataTables_wrapper dt-bootstrap4">

                      <div class="row">
                        <div class="col-sm-12 table-responsive form-inlinee">
                          <table id="dtBasicExample" class="table table-bordered table-sm dataTable" cellspacing="0"
                            width="100%" role="grid" aria-describedby="dtBasicExample_info" style="width: 100%;">
                            <thead>
                              <tr role="row">
                                <th class="th-sm sorting_asc" tabindex="0" aria-controls="dtBasicExample" rowspan="1"
                                  colspan="1" aria-sort="ascending" aria-label="Name
                                                                        : activate to sort column descending"
                                  style="width: 134.2px;">Associated Bank Deposit Master

                                </th>
                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1"
                                  colspan="1" aria-label="Position
                                                                        : activate to sort column ascending"
                                  style="width: 211.2px;">Returns Date between

                                </th>

                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1"
                                  colspan="1" aria-label="Age
                                                                        : activate to sort column ascending"
                                  style="width: 89.2px;">Recived Amount between

                                </th>

                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1"
                                  colspan="1" aria-label="Start date
                                                                        : activate to sort column ascending"
                                  style="width: 93.2px;">TDS Amount between

                                </th>


                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1"
                                  colspan="1" aria-label="Salary
                                                                        : activate to sort column ascending"
                                  style="width: 90.2px;">Details
                                </th>
                              </tr>
                            </thead>
                            <tbody>


                              <%if(depositdtls!=0){%>
                              <% for(var i=0;i < depositdtls.length; i++) { %>
                              <tr id="depid<%=depositdtls[i].abdr_ch_deposit_id%>" role="row" class="odd">




                                <input type="radio" hidden name="radio_deposit_edit"
                                  id="radio_deposit_edit<%=depositdtls[i].abdr_ch_deposit_id%>"
                                  value="<%=depositdtls[i].abdr_ch_deposit_id%>" class="edit" />

                                <input type="radio" hidden name="radio_deposit_view"
                                  id="radio_deposit_view<%=depositdtls[i].abdr_ch_deposit_id%>"
                                  value="<%=depositdtls[i].abdr_ch_deposit_id%>" class="view" />

                                <input type="radio" hidden name="radio_deposit_delete"
                                  id="radio_deposit_delete<%=depositdtls[i].abdr_ch_deposit_id%>"
                                  value="<%=depositdtls[i].abdr_ch_deposit_id%>" class="delete" />

                                <input type="text" name="asso_rtrn_mstr"
                                  id="asso_rtrn_mstr<%=depositdtls[i].abdr_ch_deposit_id%>"
                                  value="<%=depositdtls[i].abdr_ch_deposit_id%>" hidden>
                                <input type="text" name="asso_rtrn_date"
                                  id="asso_rtrn_date<%=depositdtls[i].abdr_ch_deposit_id%>"
                                  value="<%=depositdtls[i].abdr_ch_deposit_id%>" hidden>
                                <input type="text" name="asso_rtrn_amt"
                                  id="asso_rtrn_amt<%=depositdtls[i].abdr_ch_deposit_id%>"
                                  value="<%=depositdtls[i].abdr_ch_deposit_id%>" hidden>
                                <input type="text" name="asso_rtrn_tds"
                                  id="asso_rtrn_tds<%=depositdtls[i].abdr_ch_deposit_id%>"
                                  value="<%=depositdtls[i].abdr_ch_deposit_id%>" hidden>
                                </td>

                                <td><%= depositdtls[i].abdr_ch_associate_bank_deposit_master %></td>
                                <td><%=moment(depositdtls[i].abdr_d_return_date).format("DD-MM-YYYY")%></td>
                                <td><%= depositdtls[i].abdr_n_receive_amt %></td>
                                <td><%= depositdtls[i].abdr_n_tds_amt %></td>

                                <td>
                                  <input type="text" name="asso_rtrn_ededit_rtrn<%=depositdtls[i].abdr_ch_deposit_id%>"
                                    id="asso_rtrn_ededit_rtrn<%=depositdtls[i].abdr_ch_deposit_id%>"
                                    value="<%=depositdtls[i].abdr_ch_deposit_id%>" hidden> <i style="font-size:16px"
                                    class="fa" id="edit_rtrn<%=depositdtls[i].abdr_ch_deposit_id%>"
                                    onclick="associated_dep_edit(this)">&#xf044;</i>
                                  <input type="text" name="asso_rtrn_vwview_rtrn<%=depositdtls[i].abdr_ch_deposit_id%>"
                                    id="asso_rtrn_vwview_rtrn<%=depositdtls[i].abdr_ch_deposit_id%>"
                                    value="<%=depositdtls[i].abdr_ch_deposit_id%>" hidden><i style="font-size:16px"
                                    class="fa" id="view_rtrn<%=depositdtls[i].abdr_ch_deposit_id%>"
                                    onclick="associated_dep_view(this)">&#xf06e;</i>
                                  <input type="text"
                                    name="asso_rtrn_dldelete_rtrn<%=depositdtls[i].abdr_ch_deposit_id%>"
                                    id="asso_rtrn_dldelete_rtrn<%=depositdtls[i].abdr_ch_deposit_id%>"
                                    value="<%=depositdtls[i].abdr_ch_deposit_id%>" hidden><i style="font-size:16px"
                                    class="fa" id="delete_rtrn<%=depositdtls[i].abdr_ch_deposit_id%>"
                                    onclick="associated_dep_del(this)">&#xf2ed;</i>

                              </tr>


                              <% } %>
                              <% } %>

                            </tbody>

                          </table>
                        </div>
                      </div>

                    </div>

                    <br>


                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include ../includes/footer %>

</body>
<% include ../includes/bottom_scripts %>

</html>