<html>
    <head>
            <% include ../includes/styles %>
            <% include ../includes/scripts %>
            <script type="text/javascript" src="/javascripts/bankDetailsJS.js"></script>
            
    </head>
    <body>

        <form action="/bankModule/bankDetails/acc_master_edit" method="post" id="acc_master_edit_window">
          <input id="tempmasterid" name="tempmasterid" hidden>
   
      </form>
      <form action="/bankModule/bankDetails/acc_master_view" method="post" id="acc_master_view_window">
        <input id="tempmasterid1" name="tempmasterid1" hidden>

    </form>
    <form action="/bankModule/bankDetails/acc_master_delete" method="post" id="acc_master_delete_window">
      <input id="tempmasterdelete" name="tempmasterdelete" hidden>

  </form>
            <div class="wrapper ">
             <% include ../includes/sidebar.ejs %>
                    <div class="main-panel" id="main-panel">
                      <!-- Navbar -->
                      <nav class="navbar navbar-expand-lg colo">
                        <div class="container-fluid">
                          <div class="navbar-wrapper">
                            <div class="navbar-toggle">
                              <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                              </button>
                            </div>
                            <a class="navbar-brand" href="#pablo"><strong>Member</strong> </a>
                          </div>
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                          </button>
                          <div class="collapse navbar-collapse justify-content-end" id="navigation">
                            <ul class="navbar-nav">
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false">
                                  <strong class="fnt">User 1</strong>
                                  <i class="now-ui-icons users_single-02 ml-2"></i>
                                  <p>
                                    <span class="d-lg-none d-md-block">Some Actions</span>
                                  </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                  <a class="dropdown-item" href="#"></i>Upload Photo<i class=" material-icons ml-2">add_a_photo</i></a>
                                  <a class="dropdown-item" href="#">Logout<i class=" ml-5 material-icons">power_settings_new</i></a>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </nav>
                      <!-- End Navbar -->

                      <div class="content">
                        <div class="row-sm ">
                          <div class="col-sm">
                            <div class="card tp">
                              <div class="card-header">
                                <!--Navbar -->
                                <!-- <nav class="mb-1 navbar navbar-expand-lg navbar-collapse">


                                  <div class="collapse navbar-collapse text-center" id="navbarSupportedContent-333">
                                    <ul class="navbar-nav mr-auto">
                                      <li class="nav-item active"> -->
                                
                                <!-- </li> -->
                                <!-- </ul>
                                  </div>
                                </nav> -->
                                <!--/.Navbar -->
                              </div>
                              <div class="card-body">
                                <div class="content">
                                        <h6>Associated Bank Account Master</h6>
                                        <hr>
                                        <h6>Search</h6>
                                        <hr>
                                        <form action="/bankModule/bankDetails/search_particular_master_record" method="post">
                                    <!-- flash message -->                    
                    <% if(locals.message){ %>
                      <div class="text text-center" role="alert"
                      background-color: red;>
                      <strong style="color:green"><%= message.success_msg %></strong> 
                      </div>
                  <% } %>
                    <div class="container row mt-2">
                            <div class="col-sm-12 col-md-6">
                              <label for="ent_fee" class="mr-sm-4 col-sm-12 col-md-5">Bank Code</label>
                              <select class="col-sm-12 col-md-6" id="master_code_search" name="master_code_search">
                                <option disabled="" selected="" value="">Select</option>
                                <% for(var i=1;i < bankcd.length;i++) { %>           
                                  <option value="<%= bankcd[i].bcd_ch_bank_code  %>"> <%= bankcd[i].bcd_ch_bank_code %></option>       
                                                            <% } %>
                          </select>

    
    
                            </div>
                            <div class="col-sm-12 col-md-6">
                              <label for="opn_shr_bal" class="mr-sm-4 col-sm-12 col-md-5">Bank Name</label>
                              <select class="col-sm-12 col-md-6" id="master_name_search" name="master_name_search">
                                <option disabled="" selected="" value="">Select</option>
                                <% for(var i=1;i < bankcd.length;i++) { %>           
                                  <option value="<%= bankcd[i].bcd_ch_bank_name  %>"> <%= bankcd[i].bcd_ch_bank_name %></option>       
                                   
                                  <% } %>
                          </select>
    
    
                            </div>
                          </div>

                          <div class="container row mt-2">
                            <div class="col-sm-12 col-md-6">
                              <label for="ent_fee" class="mr-sm-4 col-sm-12 col-md-5">Branch Code</label>
                              <select class="col-sm-12 col-md-6" id="branch_code_search" name="branch_code_search">
                                <option disabled="" selected="" value="">Select</option>
                                <% for(var i=1;i < branchcdmaster.length;i++) { %>           
                                  <option value="<%= branchcdmaster[i].bcd_ch_branch_code  %>"> <%= branchcdmaster[i].bcd_ch_branch_code %></option>       
                                                            <% } %>
                          </select>
                            </div>
                          
                            <div class="col-sm-12 col-md-6">
                              <label for="ent_fee" class="mr-sm-4 col-sm-12 col-md-5">Branch Name</label>
                              <input type="text" class="col-sm-12 col-md-6" name="branch_name_search" id="branch_name_search" placeholder="">
                            </div>
                           
                          </div>
                          
                         
                          <div class="container row mt-2">
                            <div class="col-sm-12 col-md-6">
                              <label for="ent_fee" class="mr-sm-4 col-sm-12 col-md-5">Account Number</label>
                              <input type="number" class="col-sm-12 col-md-6" name="acc_num_search" id="acc_num_search" placeholder="">
    
                            </div>
                            <div class="col-sm-12 col-md-6">
                              <label for="opn_shr_bal" class="mr-sm-4 col-sm-12 col-md-5">Associated Bank Account Type</label>
                              <select class="col-sm-12 col-md-6" name="masteracc_type_search" id="masteracc_type_search">
                                <option disabled="" selected="" value="">Select</option>
                                <option value=" Savings accounts."> Savings accounts.</option>
                                <option value="Checking accounts">Checking accounts</option>
                                <option value="Money market accounts."> Money market accounts.</option>     
                                <option value="Certificates of deposit (CDs)">  Certificates of deposit (CDs)</option>  
                                <option value="Retirement accounts.">  Retirement accounts.</option> 
                              
                              </select>
    
                            </div>
                          </div>

                          <div class="container row mt-2">
                            <div class="col-sm-12 col-md-6">
                                <label for="opn_shr_bal" class="mr-sm-4 col-sm-12 col-md-5">Account Status</label>
                                <select class="col-sm-12 col-md-6" id="acc_status_search" name="acc_status_search">
                                  <option disabled="" selected="" value="">Select</option>
                                  <option value="Active">Active</option>
                                  <option value="Not Active">Not Active</option>
                                  </select>
                               
      
                              </div>
    
    
                            </div>
              
                                    <input type="submit" name="btnUplEmp" id="btnUplEmp" class="btn" value="Search"
                                      onclick="return ValidationEvent()">
                                    <input type="reset" class="btn" id="notif" value="Reset" onclick="resetform()">
                                    <br>
                                        </form>
                                    <div class="row">
                                      <div class="d-sm-none d-md-block col-md-10"></div>
                                      <!--<input type="submit" name="btnUplEmp" id="btnUplEmp" class="butn mean-fruit-gradient" value="Add"
                                        onclick="return ValidationEvent()">-->
                                      <!--<input type="button" class="butn sunny-morning-gradient" id="notif" value="Print" onclick="resetform()">-->
                                 <a class="btn add1" id="btnUplEmp" href="/bankModule/bankDetails/asso_bank_account_master?key=ADD">Add</a>
                                  <input type="button" class="btn print1" id="notif" value="Print" onclick="resetform()">

                                    </div>

                                    <div id="dtBasicExample_wrapper table-responsive" class="dataTables_wrapper dt-bootstrap4">

                                      <div class="row">
                                        <div class="col-sm-12 table-responsive form-inlinee">
                                          <table id="dtBasicExample" class="table table-bordered table-sm dataTable" cellspacing="0"
                                            width="100%" role="grid" aria-describedby="dtBasicExample_info" style="width: 100%;">
                                            <thead>
                                              <tr role="row">
                                                <th class="th-sm sorting_asc" tabindex="0" aria-controls="dtBasicExample" rowspan="1"
                                                  colspan="1" aria-sort="ascending" aria-label="Name
                                              : activate to sort column descending"
                                                  style="width: 134.2px;">Bank Code
                                                </th>
                                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1"
                                                  colspan="1" aria-label="Position
                                              : activate to sort column ascending"
                                                  style="width: 211.2px;">Bank Name
                                                </th>
                                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1"
                                                  colspan="1" aria-label="Office
                                              : activate to sort column ascending"
                                                  style="width: 94.2px;">Branch Code
                                                </th>
                                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1"
                                                  colspan="1" aria-label="Age
                                              : activate to sort column ascending"
                                                  style="width: 89.2px;">Branch Name
                                                </th>
                                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1"
                                                  colspan="1" aria-label="Start date
                                              : activate to sort column ascending"
                                                  style="width: 93.2px;">Account No
                                                </th>
                                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1"
                                                  colspan="1" aria-label="Start date
                                              : activate to sort column ascending"
                                                  style="width: 93.2px;">Associated Bank Account Code
                                                </th>
                                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1"
                                                  colspan="1" aria-label="Start date
                                              : activate to sort column ascending"
                                                  style="width: 93.2px;">Account Type
                                                </th>
                                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1"
                                                  colspan="1" aria-label="Salary
                                              : activate to sort column ascending"
                                                  style="width: 90.2px;">Account Status
                                                </th>
                                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1"
                                                  colspan="1" aria-label="Salary
                                              : activate to sort column ascending"
                                                  style="width: 90.2px;">Description
                                                </th>
                                                <th class="th-sm sorting" tabindex="0" aria-controls="dtBasicExample" rowspan="1"
                                                  colspan="1" aria-label="Salary
                                              : activate to sort column ascending"
                                                  style="width: 90.2px;">Details
                                                </th>
                                              </tr>
                                            </thead>
                                            <tbody>


                                              <% for(var i=0;i < masterdetails.length; i++) { %>

                                                <tr id="rowid<%= masterdetails[i].aba_ch_bank_id%>" role="row" class="odd">
                                               
                                                    
                                                         <input  type="radio" hidden name="radiobutton1rfed" id="radiobutton1rfed<%=masterdetails[i].aba_ch_bank_id%>" value="<%=masterdetails[i].aba_ch_bank_id%>" class="edit"/>
                                                      
                                                         <input  type="radio" hidden name="radiobutton1rfvw" id="radiobutton1rfvw<%=masterdetails[i].aba_ch_bank_id%>" value="<%=masterdetails[i].aba_ch_bank_id%>" class="view"/>

                                                         <input  type="radio" hidden name="radiobutton1rfdel" id="radiobutton1rfdel<%=masterdetails[i].aba_ch_bank_id%>" value="<%=masterdetails[i].aba_ch_bank_id%>" class="delete"/>


                                                         <input type="text" name="memberid<%= masterdetails[i].aba_ch_bank_id %>" id="memberid<%= masterdetails[i].aba_ch_bank_id %>" value="<%=masterdetails[i].aba_ch_bank_id %>" hidden >

                                                         <input type="text" name="memberid1<%= masterdetails[i].aba_ch_bank_id %>" id="memberid1<%= masterdetails[i].aba_ch_bank_id %>" value="<%=masterdetails[i].aba_ch_bank_id %>" hidden >

                                                         <input type="text" name="memberid2<%= masterdetails[i].aba_ch_bank_id %>" id="memberid2<%= masterdetails[i].aba_ch_bank_id %>" value="<%=masterdetails[i].aba_ch_bank_id %>" hidden >

                                                    
                                                
                                                    <td><%= masterdetails[i].aba_ch_bank_code %></td>
                                                     <td><%= masterdetails[i].aba_ch_bank_name %></td>
                                                     <td><%= masterdetails[i].aba_ch_branch_code%></td>
                                                     <td><%= masterdetails[i].aba_ch_branch_name %></td>
                                                     <td><%= masterdetails[i].aba_n_acct_number %></td>
                                                     <td><%= masterdetails[i].aba_ch_associate_bank_acct_code %></td>
                                                     <td><%= masterdetails[i].aba_ch_associate_bank_acct_type %></td>
                                                     <td><%= masterdetails[i].aba_ch_acct_status %></td>
                                                     <td><%= masterdetails[i].aba_ch_description %></td>
                                        
                                                     <td>
                                                        <input type="text" name="rfed<%=masterdetails[i].aba_ch_bank_id%>" id="rfed<%=masterdetails[i].aba_ch_bank_id%>" value="<%=masterdetails[i].aba_ch_bank_id%>" hidden > <i style="font-size:16px" class="fa"  id="ed<%=masterdetails[i].aba_ch_bank_id%>" onclick="edit_row_masteracc(this)">&#xf044;</i>
                                                        <input type="text" name="vfvw<%=masterdetails[i].aba_ch_bank_id%>" id="vfvw<%=masterdetails[i].aba_ch_bank_id%>" value="<%=masterdetails[i].aba_ch_bank_id %>" hidden ><i style="font-size:16px" class="fa"  id="vw<%= masterdetails[i].aba_ch_bank_id %>" onclick="view_row_masteracc(this)">&#xf06e;</i>
                                                        <input type="text" name="delet<%=masterdetails[i].aba_ch_bank_id%>" id="delet<%=masterdetails[i].aba_ch_bank_id%>" value="<%=masterdetails[i].aba_ch_bank_id%>" hidden ><i style="font-size:16px" class="fa"  id="et<%=masterdetails[i].aba_ch_bank_id%>" onclick="delete_row_masteracc(this)">&#xf2ed;</i>

                                                     </td>
                                                      
                                                    </tr>
      
                                         
                                            <% } %> 
                                  
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>

                                    </div>

                                    <br>

                                    <!--<input type="submit" name="btnUplEmp" id="btnUplEmp" class="butn mean-fruit-gradient" value="Submit"
                                      onclick="return ValidationEvent()">
                                    <input type="button" class="butn sunny-morning-gradient" id="notif" value="Clear" onclick="resetform()">-->
                                    <div class="clearfix"></div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <% include ../includes/footer %>
                       <% include ../includes/bottom_scripts %>
    </body>
    
        
</html>