<html>

    <head>
        <% include ../includes/styles %>
        <% include ../includes/scripts %>
        <script type="text/javascript" src="/javascripts/bankDetailsJS.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    </head>

    <body>
        <div class="wrapper ">
                <div class="sidebar" data-color="orange_light">
                        <!--
                                          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
                                      -->
                        <div class="logo">
                            <h4><a href="" class="simple-text logo-normal">
                                    Nurture Software
                                </a></h4>
                        </div>
                        <div class="sidebar-wrapper" id="sidebar-wrapper">
                            <ul class="nav">
                                <li>
                                    <a href="/login/dashboard">
                                        <i class="material-icons" style="font-size: 25px;">dashboard</i>
                                        <strong class="fnt">Dashboard</strong>
                                    </a>
                                </li>
        
                                <li id="sub_menu" class="active">
        
                                    <a href="#">
                                        <i class="material-icons" style="font-size: 25px;">group</i>
                                        <strong class="fnt">Members</strong>
                                    </a>
                                    <ul class="hid sub_col">
        
                                        <div class="sub_mar"><a href="/memberDetailsModule/memberDetails/memberdetails"
                                                class="ml-1" style="color: #ffffff;">Members</a>
                                        </div>
        
                                        <div class="sub_mar"><a href="/memberDetailsModule/memberDetails/mem_div_search"
                                                class="ml-1" style="color: #ffffff;">Members
                                                Dividend</a></div>
        
                                        <div class="sub_mar"> <a href="/memberDetailsModule/memberDetails/mem_share_search"
                                                class="ml-1" style="color: #ffffff;">Members
                                                Share Details</a></div>
        
                                        <div class="sub_mar"> <a href="/memberDetailsModule/memberDetails/mem_farm_search"
                                                class="ml-1" style="color: #ffffff;">Farm
                                                Machinery Details</a></div>
        
                                        <div class="sub_mar"><a href="/memberDetailsModule/memberDetails/mem_hse_det_ser"
                                                class="ml-1" style="color: #ffffff;">House
                                                Details</a></div>
        
                                        <div class="sub_mar"> <a href="/memberDetailsModule/memberDetails/kcc_search"
                                                class="ml-1" style="color: #ffffff;">KCC
                                                Details</a></div>
        
                                    </ul>
                                </li>
        
                                <li>
                                    <a href="/login/deposits">
                                        <i class="material-icons" style="font-size: 25px;">thumbs_up_down</i>
                                        <strong class="fnt">Deposits</strong>
                                    </a>
                                </li>
        
        
                                <li>
                                    <a href="/login/loans">
                                        <i class="material-icons" style="font-size: 25px;">file_upload</i>
                                        <strong class="fnt">Loans</strong>
                                    </a>
                                </li>
        
        
                                <li id="sub_menu">
                                    <a href="#">
                                        <i class="material-icons" style="font-size: 25px;">account_balance</i>
                                        <strong class="fnt">Bank</strong>
                                    </a>
                                    <ul class="hid mt-1 sub_col">
        
                                        <div class="sub_mar"><a class="ml" href="/bankModule/bankDetails/asso_bank_search"
                                                style="color: #ffffff">Associated
                                                Bank</a></div>
        
                                        <div class="sub_mar"><a class="ml" href="/bankModule/bankDetails/asso_branch_search"
                                                style="color: #ffffff">Associated Branch</a></div>
        
                                        <div class="sub_mar">
                                            <a class="ml" href="/bankModule/bankDetails/asso_bank_account_master_search"
                                                style="color: #ffffff">Associated Bank Account Master</a>
                                        </div>
        
                                        <div class="sub_mar">
                                            <a class="ml" href="/bankModule/bankDetails/asso_bank_cheque_book_search"
                                                style="color: #ffffff">Associated Bank Cheque Book</a>
                                        </div>
        
                                        <div class="sub_mar">
                                            <a class="ml" href="/bankModule/bankDetails/asso_bank_account_search"
                                                style="color: #ffffff">Associated Bank Account Type</a>
                                        </div>
                                         
                                    <div class="sub_mar">
                                        <a class="ml" href="/bankModule/bankDetails/asso_bank_deposit_returns_search"
                                            style="color: #ffffff">Associated Bank Deposit Returns</a>
                                    </div>
        
                                    
                                    <div class="sub_mar">
                                        <a class="ml" href="/bankModule/bankDetails/asso_bank_deposit_master_search"
                                            style="color: #ffffff">Associated Bank Deposit Master</a>
                                    </div>
        
                                    </ul>
                                </li>
        
        
                                <li>
                                    <a href="/login/market">
                                        <i class="material-icons" style="font-size: 25px;">local_grocery_store</i>
                                        <strong class="fnt">Market</strong>
                                    </a>
                                </li>
        
                                <li>
                                    <a href="/login/reports">
                                        <i class="material-icons" style="font-size: 25px;">date_range</i>
                                        <strong class="fnt">Reports</strong>
                                    </a>
                                </li>
        
        
        
                                <li>
        
                                    <a href="/login/payroll">
                                        <i class="material-icons" style="font-size: 25px;">payment</i>
                                        <strong class="fnt">Payroll</strong>
                                    </a>
        
        
        
                                </li>
                                <li>
                                    <a href="/login/hr">
                                        <i class="material-icons" style="font-size: 25px;">account_box</i>
                                        <strong class="fnt">HR</strong>
                                    </a>
                                </li>
        
        
                                <li>
        
                                    <a href="/login/user">
                                        <i class="material-icons" style="font-size: 25px;">person</i>
                                        <strong class="fnt">User</strong>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

            <div class="main-panel" id="main-panel">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg colo">
                    <div class="container-fluid">
                        <div class="navbar-wrapper">
                            <div class="navbar-toggle">
                                <button type="button" class="navbar-toggler">
                                    <span class="navbar-toggler-bar bar1"></span>
                                    <span class="navbar-toggler-bar bar2"></span>
                                    <span class="navbar-toggler-bar bar3"></span>
                                </button>
                            </div>
                            <a class="navbar-brand" href="#pablo"><strong>BANK</strong> </a>
                        </div>
                        <button class="navbar-toggler dot" type="button" data-toggle="collapse" data-target="#navigation"
                            aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navigation">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <strong class="fnt">User 1</strong>
                                        <i class="now-ui-icons users_single-02 ml-2"></i>
                                        <p>
                                            <span class="d-lg-none d-md-block">Some Actions</span>
                                        </p>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right"
                                        aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#">Upload Photo<i
                                                class=" material-icons ml-2">add_a_photo</i></a>
                                        <a class="dropdown-item" href="#">Logout<i
                                                class=" ml-5 material-icons">power_settings_new</i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- End Navbar -->

<%if(pagetype=='ADD'){%>
                <div class="content">
                    <div class="row-sm ">
                        <div class="col-sm-12">
                            <div class="card tp">
                                <div class="card-header"></div>
                                <div class="card-body">

                                    <h6>Associated Bank Cheque Book Details</h6>
                                     <!-- flash message -->                    
                    <% if(locals.message){ %>
                        <div class="text text-center" role="alert"
                        background-color: red;>
                        <strong style="color:green"><%= message.success_msg %></strong> 
                        </div>
                    <% } %>
                                    <hr>
                                    <h6>ADD RECORD</h6>
                                    <hr>
                                    <form autocomplete="off" action="/bankModule/bankDetails/asso_bank_cheque_book_add" method="post" id="chequebook_details">

                                    <div class="content">
                                        <div class="container row mb-4">
                                            <div class="col-sm-12 col-md-6">
                                                <label for="ass_chqbok_brmaster" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">
                                                    Associated Branch Master
                                                </label>
                                                <input type="text" class="col-sm-12 col-md-6" name="ass_chqbok_brmaster"
                                                    id="ass_chqbok_brmaster" placeholder=""  >

                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <label for="ass_bnk_num" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Associated
                                                    Bank/Associated Number
                                                </label>
                                                <input type="text" class="col-sm-12 col-md-6" name="ass_bnk_num"
                                                    id="ass_bnk_num" placeholder="" >

                                            </div>
                                        </div>
                                        <div class="container row mt-2">
                                            <div class="col-sm-12 col-md-6">
                                                <label for="category_master" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">
                                                    Category Master
                                                </label>
                                                <input type="text" class="col-sm-12 col-md-6" name="category_master"
                                                    id="category_master" placeholder="">
                                            </div>
                                            <div class="col-sm-12 col-md-6 ">
                                                <label for="chq_bok_num" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Cheque Book
                                                    Number
                                                </label>
                                                <input type="text" class="col-sm-12 col-md-6" name="chq_bok_num"
                                                    id="chq_bok_num" placeholder="  " >

                                            </div>
                                        </div>
                                        <div class="container row mt-4">
                                            <div class="col-sm-12 col-md-6">
                                                <label for="series" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Series
                                                </label>
                                                <input type="text" class="col-sm-12 col-md-6" name="series" id="series"
                                                    placeholder="  ">

                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <label for="num_chq_leaves" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Number
                                                    Of Cheque Leaves
                                                </label>
                                                <input type="text" class="col-sm-12 col-md-6" name="num_chq_leaves"
                                                    id="num_chq_leaves" placeholder="  " onkeypress="return numeric(event)">

                                            </div>
                                        </div>
                                        <div class="container row mt-4">
                                            <div class="col-sm-12 col-md-6">
                                                <label for="start_num" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Starting
                                                    Number
                                                </label>
                                                <input type="text" class="col-sm-12 col-md-6" name="star_num"
                                                    id="start_num" placeholder=" " onkeypress="return numeric(event)">

                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <label for="end_num" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">End Number
                                                </label>
                                                <input type="text" class="col-sm-12 col-md-6" name="end_num"
                                                    id="end_num" placeholder="" onkeypress="return numeric(event)">

                                            </div>
                                        </div>
                                        <div class="container row mt-2">
                                            <div class="col-sm-12 col-md-6">
                                                <label for="chq_book_status" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Cheque
                                                    Book Status
                                                </label>
                                                <input type="text" class="col-sm-12 col-md-6" name="chq_book_status"
                                                    id="chq_book_status" placeholder="" >

                                            </div>
                                        </div>

                                        <div class="container row mt-4">
                                            <div class="col-sm-12 col-md-2">
       <a type="button" class="btn" href="/bankModule/bankDetails/asso_bank_cheque_book_search" name="bck_search" id="bck_search" value="Back to Search">Back to Search</a>

                                            </div>
                                            <div class="col-sm-12 col-md-3">
                                                <input type="reset" class="btn clr clr1" name="clear_frm" id="clear_frm"
                                                    value="Clear Form">

                                            </div>
                                            <div class="col-sm-12 col-md-5"></div>
                                            <div class="col-sm-12 col-md-2">
                                                <input type="button" class="btn" name="sub" id="chequebook" value="Submit" onclick="chequebooks()">
                                            </div>
                                        </div>

                                    </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <%}%>
                <!-- ADD -END-->

                <!-- EDIT -START-->
<%if(pagetype=='EDIT'){%>
                <div class="content">
                    <div class="row-sm ">
                        <div class="col-sm-12">
                            <div class="card tp">
                                <div class="card-header"></div>
                                <div class="card-body">

                                    <h6>Associated Bank Cheque Book Details</h6>
                                    
                                    <hr>
                                    <h6>EDIT RECORD</h6>
                                    <hr>
                                    <form action="/bankModule/bankDetails/update_cheque_edit" method="post" >

                                    <div class="content">
                                        <div class="container row mb-4">
                                            <div class="col-sm-12 col-md-6">
                                                <label for="ass_chqbok_brmaster_ed" class="mr-sm-4 col-sm-12 col-md-5">
                                                    Associated Branch Master
                                                </label>
                                                <input type="text" class="col-sm-12 col-md-6" name="ass_chqbok_brmaster_ed"
                                                    id="ass_chqbok_brmaster_ed" placeholder="" value="<%=bank_master%>" >

                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <label for="ass_bnk_num_ed" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Associated
                                                    Bank/Associated Number
                                                </label>
                                                <input type="text" class="col-sm-12 col-md-6" name="ass_bnk_num_ed"
                                                    id="ass_bnk_num_ed"  placeholder="" value="<%=bank_acct_num%>">

                                            </div>
                                        </div>
                                        <div class="container row mt-2">
                                            <div class="col-sm-12 col-md-6">
                                                <label for="category_master_ed" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">
                                                    Category Master
                                                </label>
                                                <input type="text" class="col-sm-12 col-md-6" name="category_master_ed"
                                                    id="category_master_ed" placeholder=""  value="<%=categ_master%>">
                                            </div>
                                            <div class="col-sm-12 col-md-6 ">
                                                <label for="chq_bok_num_ed" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Cheque Book
                                                    Number
                                                </label>
                                                <input type="text" class="col-sm-12 col-md-6" name="chq_bok_num_ed"
                                                    id="chq_bok_num_ed" placeholder="  " value="<%=cheque_book_num%>">

                                            </div>
                                        </div>
                                        <div class="container row mt-4">
                                            <div class="col-sm-12 col-md-6">
                                                <label for="series_ed" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Series
                                                </label>
                                                <input type="text" class="col-sm-12 col-md-6" name="series_ed" id="series_ed"
                                                    placeholder="  "  value="<%=seri%>" >

                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <label for="num_chq_leaves_ed" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Number
                                                    Of Cheque Leaves
                                                </label>
                                                <input type="text" class="col-sm-12 col-md-6" name="num_chq_leaves_ed"
                                                    id="num_chq_leaves_ed" placeholder="  " value="<%=num_cheque_leaves%>"  onkeypress="return numeric(event)">

                                            </div>
                                        </div>
                                        <div class="container row mt-4">
                                            <div class="col-sm-12 col-md-6">
                                                <label for="start_num_ed" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Starting
                                                    Number
                                                </label>
                                                <input type="text" class="col-sm-12 col-md-6" name="start_num_ed"
                                                    id="start_num_ed" placeholder=" "  value="<%=start_number%>" onkeypress="return numeric(event)" >

                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <label for="end_num_ed" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">End Number
                                                </label>
                                                <input type="text" class="col-sm-12 col-md-6" name="end_num_ed"
                                                    id="end_num_ed" placeholder=""  value="<%=end_number%>" onkeypress="return numeric(event)">                                               


                                            </div>
                                        </div>
                                        <div class="container row mt-2">
                                            <div class="col-sm-12 col-md-6">
                                                <label for="chq_book_status_ed" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Cheque
                                                    Book Status
                                                </label>
                                                <input type="text" class="col-sm-12 col-md-6" name="chq_book_status_ed"
                                                    id="chq_book_status_ed" placeholder=""  value="<%=cheque_book_status%>">

                                            </div>
                                        </div>

                                        <div class="container row mt-4">
                                            <div class="col-sm-12 col-md-2">
       <a type="button" class="btn" href="/bankModule/bankDetails/asso_bank_cheque_book_search" name="bck_search" id="bck_search" value="Back to Search">Back to Search</a>

                                            </div>
                                            <div class="col-sm-12 col-md-3">
                                                <input type="reset" class="btn clr clr1" name="clear_frm" id="clear_frm"
                                                    value="Clear Form">

                                            </div>
                                            <div class="col-sm-12 col-md-5"></div>
                                            <div class="col-sm-12 col-md-2">
                                                    <input hidden type="text" class="btn" name="chequebookcehk" id="chequebookchk"   value="<%=cheque_book_id%>" onclick="chequebooks()" >

                                                <input type="submit" class="btn" name="sub" id="chequebook"   value="Submit" onclick="chequebooks()" >
                                            </div>
                                        </div>

                                    </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <%}%>
                <!--EDIT END-->
                <!-- VIEW -START-->
                <%if(pagetype=='VIEW'){%>
                    <div class="content">
                        <div class="row-sm ">
                            <div class="col-sm-12">
                                <div class="card tp">
                                    <div class="card-header"></div>
                                    <div class="card-body">
    
                                        <h6>Associated Bank Cheque Book Details</h6>
                                        
                                        <hr>
                                        <h6>VIEW RECORD</h6>
                                        <hr>
                                        <form action="/bankModule/bankDetails/cheque_view_data_populate  " method="post" id="chequebook_details_view">
                                            <fieldset disabled="disabled">
                                        <div class="content">
                                            <div class="container row mb-4">
                                                <div class="col-sm-12 col-md-6">
                                                    <label for="ass_chqbok_brmaster_vw" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">
                                                        Associated Branch Master
                                                    </label>
                                                    <input type="text" class="col-sm-12 col-md-6" name="ass_chqbok_brmaster_vw"
                                                        id="ass_chqbok_brmaster_vw" value="<%= bank_master%>" placeholder=""  >
    
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <label for="ass_bnk_num_vw" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Associated
                                                        Bank/Associated Number
                                                    </label>
                                                    <input type="text" class="col-sm-12 col-md-6" name="ass_bnk_num_vw"
                                                        id="ass_bnk_num_vw" value="<%= bank_acct_num%>" placeholder="" >
    
                                                </div>
                                            </div>
                                            <div class="container row mt-2">
                                                <div class="col-sm-12 col-md-6">
                                                    <label for="category_master_vw" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">
                                                        Category Master
                                                    </label>
                                                    <input type="text" class="col-sm-12 col-md-6" name="category_master_vw"
                                                        id="category_master_vw" value="<%= categ_master%>" placeholder="">
                                                </div>
                                                <div class="col-sm-12 col-md-6 ">
                                                    <label for="chq_bok_num_vw" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Cheque Book
                                                        Number
                                                    </label>
                                                    <input type="text" class="col-sm-12 col-md-6" name="chq_bok_num_vw"
                                                        id="chq_bok_num_vw" value="<%= cheque_book_num%>" placeholder="  " >
    
                                                </div>
                                            </div>
                                            <div class="container row mt-4">
                                                <div class="col-sm-12 col-md-6">
                                                    <label for="series_vw" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Series
                                                    </label>
                                                    <input type="text" class="col-sm-12 col-md-6" name="series_vw" id="series_vw" value="<%= seri%>"
                                                        placeholder="">
    
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <label for="num_chq_leaves_vw" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Number
                                                        Of Cheque Leaves
                                                    </label>
                                                    <input type="text" class="col-sm-12 col-md-6" name="num_chq_leaves_vw"
                                                        id="num_chq_leaves_vw" value="<%= num_cheque_leaves%>" placeholder="  " onkeypress="return numeric(event)">
    
                                                </div>
                                            </div>
                                            <div class="container row mt-4">
                                                <div class="col-sm-12 col-md-6">
                                                    <label for="start_num_vw" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Starting
                                                        Number
                                                    </label>
                                                    <input type="text" class="col-sm-12 col-md-6" name="star_num_vw"
                                                        id="start_num_vw" value="<%= start_number%>" placeholder=" ">
    
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <label for="end_num_vw" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">End Number
                                                    </label>
                                                    <input type="text" class="col-sm-12 col-md-6" name="end_num_vw"
                                                        id="end_num_vw" value="<%= end_number%>" placeholder="">
    
                                                </div>
                                            </div>
                                            <div class="container row mt-2">
                                                <div class="col-sm-12 col-md-6">
                                                    <label for="chq_book_status_vw" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Cheque
                                                        Book Status
                                                    </label>
                                                    <input type="text" class="col-sm-12 col-md-6" name="chq_book_status_vw"
                                                        id="chq_book_status_vw" value="<%= cheque_book_status%>" placeholder="">
    
                                                </div>
                                            </div>
    
                                            <div class="container row mt-4">
                                                <div class="col-sm-12 col-md-2">
                                                   </fieldset> 
           <a type="button" class="btn" href="/bankModule/bankDetails/asso_bank_cheque_book_search" name="bck_search" id="bck_search" value="Back to Search">Back to Search</a>
    
                                                </div>
                        
                                            </div>
    
                                        </div>
                                        </form>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <%}%>
<!-- VIEW -END-->
 <!-- DELETE -START-->
 <%if(pagetype=='DELETE'){%>
    <div class="content">
        <div class="row-sm ">
            <div class="col-sm-12">
                <div class="card tp">
                    <div class="card-header"></div>
                    <div class="card-body">

                        <h6>Associated Bank Cheque Book Details</h6>
                        
                        <hr>
                        <h6>VIEW RECORD</h6>
                        <hr>
                        <form action="/bankModule/bankDetails/cheque_book_delete  " method="post" id="chequebook_details_view">
                            <fieldset disabled="disabled">
                        <div class="content">
                            <div class="container row mb-4">
                                <div class="col-sm-12 col-md-6">
                                    <label for="ass_chqbok_brmaster_vw" class="mr-sm-4 col-sm-12 col-md-5">
                                        Associated Branch Master
                                    </label>
                                    <input type="text" class="col-sm-12 col-md-6" name="ass_chqbok_brmaster_dl"
                                        id="ass_chqbok_brmaster_dl" value="<%= bank_master%>" placeholder=""  >

                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label for="ass_bnk_num_vw" class="mr-sm-4 col-sm-12 col-md-5">Associated
                                        Bank/Associated Number
                                    </label>
                                    <input type="text" class="col-sm-12 col-md-6" name="ass_bnk_num_dl"
                                        id="ass_bnk_num_dl" value="<%= bank_acct_num%>" placeholder="" >

                                </div>
                            </div>
                            <div class="container row mt-2">
                                <div class="col-sm-12 col-md-6">
                                    <label for="category_master_vw" class="mr-sm-4 col-sm-12 col-md-5">
                                        Category Master
                                    </label>
                                    <input type="text" class="col-sm-12 col-md-6" name="category_master_dl"
                                        id="category_master_dl" value="<%= categ_master%>" placeholder="">
                                </div>
                                <div class="col-sm-12 col-md-6 ">
                                    <label for="chq_bok_num_vw" class="mr-sm-4 col-sm-12 col-md-5">Cheque Book
                                        Number
                                    </label>
                                    <input type="text" class="col-sm-12 col-md-6" name="chq_bok_num_dl"
                                        id="chq_bok_num_dl" value="<%= cheque_book_num%>" placeholder="  " >

                                </div>
                            </div>
                            <div class="container row mt-4">
                                <div class="col-sm-12 col-md-6">
                                    <label for="series_vw" class="mr-sm-4 col-sm-12 col-md-5">Series
                                    </label>
                                    <input type="text" class="col-sm-12 col-md-6" name="series_dl" id="series_dl" value="<%= seri%>"
                                        placeholder="">

                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label for="num_chq_leaves_vw" class="mr-sm-4 col-sm-12 col-md-5 ">Number
                                        Of Cheque Leaves
                                    </label>
                                    <input type="text" class="col-sm-12 col-md-6" name="num_chq_leaves_dl"
                                        id="num_chq_leaves_dl" value="<%= num_cheque_leaves%>" placeholder="  " onkeypress="return numeric(event)">

                                </div>
                            </div>
                            <div class="container row mt-4">
                                <div class="col-sm-12 col-md-6">
                                    <label for="start_num_vw" class="mr-sm-4 col-sm-12 col-md-5">Starting
                                        Number
                                    </label>
                                    <input type="text" class="col-sm-12 col-md-6" name="star_num_dl"
                                        id="star_num_dl" value="<%= start_number%>" placeholder=" ">

                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label for="end_num_vw" class="mr-sm-4 col-sm-12 col-md-5">End Number
                                    </label>
                                    <input type="text" class="col-sm-12 col-md-6" name="end_num_dl"
                                        id="end_num_dl" value="<%= end_number%>" placeholder="">

                                </div>
                            </div>
                            <div class="container row mt-2">
                                <div class="col-sm-12 col-md-6">
                                    <label for="chq_book_status_vw" class="mr-sm-4 col-sm-12 col-md-5">Cheque
                                        Book Status
                                    </label>
                                    <input type="text" class="col-sm-12 col-md-6" name="chq_book_status_dl"
                                        id="chq_book_status_dl" value="<%= cheque_book_status%>" placeholder="">

                                </div>
                            </div>

                            <div class="container row mt-4">
                                <div class="col-sm-12 col-md-2">
                                   </fieldset> 
<a type="button" class="btn" href="/bankModule/bankDetails/asso_bank_cheque_book_search" name="bck_search" id="bck_search" value="Back to Search">Back to Search</a>

                                </div>
        
                            </div>

                        </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <%}%>
<!-- DELETE -END-->



            </div>
        </div>

        <% include ../includes/footer %>
         <% include ../includes/bottom_scripts %>
    </body>

</html>