<html>

    <head>
        <% include ../includes/styles %>
        <% include ../includes/scripts %>
        <script type="text/javascript" src="/javascripts/memberDetailsJS.js"></script>
    </head>

    <body>
        <div class="wrapper ">
                <div class="sidebar" data-color="orange_light">
                        <!--
                                          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
                                      -->
                        <div class="logo">
                            <h4><a href="" class="simple-text logo-normal">
                                    Nurture Software
                                </a></h4>
                        </div>
                        <div class="sidebar-wrapper" id="sidebar-wrapper">
                            <ul class="nav">
                                <li>
                                    <a href="/login/dashboard">
                                        <i class="material-icons" style="font-size: 25px;">dashboard</i>
                                        <strong class="fnt">Dashboard</strong>
                                    </a>
                                </li>

                                <li id="sub_menu" class="active">

                                    <a href="#">
                                        <i class="material-icons" style="font-size: 25px;">group</i>
                                        <strong class="fnt">Members</strong>
                                    </a>
                                    <ul class="hid sub_col">

                                        <div class="sub_mar"><a href="/memberDetailsModule/memberDetails/memberdetails"
                                                class="ml-1" style="color: #ffffff;">Members</a>
                                        </div>

                                        <div class="sub_mar"><a href="/memberDetailsModule/memberDetails/mem_div_search"
                                                class="ml-1" style="color: #ffffff;">Members
                                                Dividend</a></div>

                                        <div class="sub_mar"> <a href="/memberDetailsModule/memberDetails/mem_share_search"
                                                class="ml-1" style="color: #ffffff;">Members
                                                Share Details</a></div>

                                        <div class="sub_mar"> <a href="/memberDetailsModule/memberDetails/mem_farm_search"
                                                class="ml-1" style="color: #ffffff;">Farm
                                                Machinery Details</a></div>

                                        <div class="sub_mar"><a href="/memberDetailsModule/memberDetails/mem_hse_det_ser"
                                                class="ml-1" style="color: #ffffff;">House
                                                Details</a></div>

                                        <div class="sub_mar"> <a href="/memberDetailsModule/memberDetails/kcc_search"
                                                class="ml-1" style="color: #ffffff;">KCC
                                                Details</a></div>

                                    </ul>
                                </li>

                                <li>
                                    <a href="/login/deposits">
                                        <i class="material-icons" style="font-size: 25px;">thumbs_up_down</i>
                                        <strong class="fnt">Deposits</strong>
                                    </a>
                                </li>


                                <li>
                                    <a href="/login/loans">
                                        <i class="material-icons" style="font-size: 25px;">file_upload</i>
                                        <strong class="fnt">Loans</strong>
                                    </a>
                                </li>


                                <li id="sub_menu">
                                    <a href="#">
                                        <i class="material-icons" style="font-size: 25px;">account_balance</i>
                                        <strong class="fnt">Bank</strong>
                                    </a>
                                    <ul class="hid mt-1 sub_col">

                                        <div class="sub_mar"><a class="ml-1" href="/bankModule/bankDetails/asso_bank_search"
                                                style="color: #ffffff">Associated
                                                Bank</a></div>

                                        <div class="sub_mar"><a class="ml-1" href="/bankModule/bankDetails/asso_branch_search"
                                                style="color: #ffffff">Associated Branch</a></div>

                                        <div class="sub_mar">
                                            <a class="ml-1" href="/bankModule/bankDetails/asso_bank_account_master_search"
                                                style="color: #ffffff">Associated Bank Account Master</a>
                                        </div>

                                        <div class="sub_mar">
                                            <a class="ml-1" href="/bankModule/bankDetails/asso_bank_cheque_book_search"
                                                style="color: #ffffff">Associated Bank Cheque Book</a>
                                        </div>

                                        <div class="sub_mar">
                                            <a class="ml-1" href="/bankModule/bankDetails/asso_bank_account_search"
                                                style="color: #ffffff">Associated Bank Account Type</a>
                                        </div>

                                        <div class="sub_mar">
                                            <a class="ml-1" href="/bankModule/bankDetails/asso_bank_deposit_returns_search"
                                                style="color: #ffffff">Associated Bank Deposit Returns</a>
                                        </div>
                
                                        
                                        <div class="sub_mar">
                                            <a class="ml-1" href="/bankModule/bankDetails/asso_bank_deposit_master_search"
                                                style="color: #ffffff">Associated Bank Deposit Master</a>
                                        </div>

                                    </ul>
                                </li>


                                <li>
                                    <a href="/login/market">
                                        <i class="material-icons" style="font-size: 25px;">local_grocery_store</i>
                                        <strong class="fnt">Market</strong>
                                    </a>
                                </li>

                                <li>
                                    <a href="/login/reports">
                                        <i class="material-icons" style="font-size: 25px;">date_range</i>
                                        <strong class="fnt">Reports</strong>
                                    </a>
                                </li>



                                <li>

                                    <a href="/login/payroll">
                                        <i class="material-icons" style="font-size: 25px;">payment</i>
                                        <strong class="fnt">Payroll</strong>
                                    </a>



                                </li>
                                <li>
                                    <a href="/login/hr">
                                        <i class="material-icons" style="font-size: 25px;">account_box</i>
                                        <strong class="fnt">HR</strong>
                                    </a>
                                </li>


                                <li>

                                    <a href="/login/user">
                                        <i class="material-icons" style="font-size: 25px;">person</i>
                                        <strong class="fnt">User</strong>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

            <div class="main-panel" id="main-panel">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg colo">
                    <div class="container-fluid">
                        <div class="navbar-wrapper">
                            <div class="navbar-toggle">
                                <button type="button" class="navbar-toggler">
                                    <span class="navbar-toggler-bar bar1"></span>
                                    <span class="navbar-toggler-bar bar2"></span>
                                    <span class="navbar-toggler-bar bar3"></span>
                                </button>
                            </div>
                            <a class="navbar-brand" href="#pablo"><strong>MEMBER</strong> </a>
                        </div>
                        <button class="navbar-toggler dot" type="button" data-toggle="collapse" data-target="#navigation"
                            aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navigation">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <strong class="fnt">User 1</strong>
                                        <i class="now-ui-icons users_single-02 ml-2"></i>
                                        <p>
                                            <span class="d-lg-none d-md-block">Some Actions</span>
                                        </p>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#">Upload Photo<i class=" material-icons ml-2">add_a_photo</i></a>
                                        <a class="dropdown-item" href="#">Logout<i class=" ml-5 material-icons">power_settings_new</i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- End Navbar -->
            <%if(pagetype=='ADD'){%>
                <div class="content">
                    <div class="row-sm ">
                        <div class="col-sm-12">
                            <div class="card tp">
                                <div class="card-header"></div>
                                <div class="card-body">
                                    <form  action="/memberDetailsModule/memberDetails/mem_hse_det_add" method="post" id="memberhouse" autocomplete="off">
                                    <h6>Member House Details</h6>
                                    <hr>
                                        <h6>Add Records</h6>

                                           <!-- flash message -->


                                <% if(locals.message){ %>
                                    <div class="text text-center" role="alert"
                                    background-color: red;>
                                    <strong style="color:green"><%= message.success_msg %></strong>
                                    </div>
                                <% } %>

                                        <hr>

                                        <div class="content">
                                                    <div class="container row mb-4">
                                                        <div class="col-sm-12 col-md-6">
                                                            <label for="member_typ" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Select Member
                                                                </label>
                                                                <select required class="col-sm-12 col-md-6"
                                                                id="selt_mem" name="selt_mem" >
                                                <option style="text-transform: capitalize" value="" >Select Member</option>
                                                                <% for(var i=1;i < member.length;i++) { %>

                                                                    <option value="<%= member[i].md_ch_member_id  %>"><%= member[i].md_ch_member_id %></option>

                                                             <% } %>

                                                               </select>



                                                         </div>
                                                        <div class="col-sm-12 col-md-6">
                                                            <label for="member_id" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">House Number
                                                           </label>
                                                            <input type="text" class="col-sm-12 col-md-6" name="house_num"
                                                id="house_num" placeholder="" style="text-transform: capitalize" onkeypress="return alphanumeric(event)">

                                                        </div>
                                                    </div>
                                                    <div class="container row mt-2">
                                                        <div class="col-sm-12 col-md-6">
                                                            <label for="emp_code" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Address Line 1

                                                                </label>
                                                                <input type="text" class="col-sm-12 col-md-6" name="add_line"
                                                                id="add_line" placeholder="" style="text-transform: capitalize" onkeypress="return alpha(event)">


                                                        </div>
                                                        <div class="col-sm-12 col-md-6 ">
                                                            <label for="doj" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Village/Town
                                                                </label>
                                                            <input  type="text" class="col-sm-12 col-md-6" name="vill_town" id="vill_town"
                                                                placeholder="" style="text-transform: capitalize" onkeypress="return alpha(event)" autocomplete="off">

                                                        </div>
                                                    </div>
                                                    <div class="container row mt-4">
                                                        <div id="datepicker" name="datepicker" class="col-sm-12 col-md-6">
                                                            <label for="dob" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">City
                                                                </label>
                                                                <select name="mem_city" class="col-sm-12 col-md-6" id="mem_city" style="text-transform: capitalize">
                                                    <option value="">Select City</option>
                                                <% for(var i=0;i < cities.length;i++) { %>

                                                                     <option value="<%= cities[i].comm_code_desc  %>"><%= cities[i].comm_code_desc %></option>

                                                              <% } %>

                                                                </select>

                                                        </div>
                                                        <div id="datepicker" class="col-sm-12 col-md-6">
                                                            <label for="bnk_acc_num" class="mr-sm-4 col-sm-12 col-md-5 ste" style="padding-left:0% !important;">State
                                                                </label>
                                                        <select name="house_state" id="house_state" class="col-sm-12 col-md-6"style="width:50%;">
                                            <option value="">Select State</option>
                                            <% for(var i=0;i < states.length;i++) { %>

                                                                 <option value="<%= states[i].comm_code_desc  %>"><%= states[i].comm_code_desc %></option>

                                                          <% } %>

                                                            </select>

                                                        </div>
                                                    </div>
                                                    <div class="container row mt-4">
                                                        <div class="col-sm-12 col-md-6">
                                                            <label for="adm_no" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Pincode
                                                            </label>
                                                            <input type="text" class="col-sm-12 col-md-6" name="pincode"
                                                                id="pincode" placeholder=" " style="text-transform: capitalize" onkeypress="return numeric(event)"  maxlength="6">

                                                        </div>
                                                        <div class="col-sm-12 col-md-6">
                                                            <label for="dept" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Description
                                                                </label>
                                                            <input type="text" class="col-sm-12 col-md-6" name="description"
                                                                id="description" placeholder="" style="text-transform: capitalize" onkeypress="return alpha(event)">

                                                        </div>
                                                    </div>
                                                    <div class="container row mt-2">
                                                        <div class="col-sm-12 col-md-6">
                                                            <label for="ent_fee" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Builtup Area Sqft
                                                                </label>
                                                            <input type="text" class="col-sm-12 col-md-6" name="area_sqft"
                                                                id="area_sqft" placeholder="" style="text-transform: capitalize"  onkeypress="return numeric(event)">

                                                        </div>
                                                        <div class="col-sm-12 col-md-6">
                                                            <label for="opn_shr_bal" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Market Value
                                                                </label>
                                                            <input type="text" class="col-sm-12 col-md-6" name="market_value"
                                                                id="market_value" placeholder="" style="text-transform: capitalize" onkeypress="return numeric(event)">

                                                        </div>
                                                    </div>
                                                </div>

                                                    <div class="container row mt-4">
                                                        <div class="col-sm-12 col-md-2">
                                                           <a type="button" class="btn" href="/memberDetailsModule/memberDetails/mem_hse_det_ser" name="bck_search" id="bck_search" value="Back to Search">Back to Search</a>

                                                        </div>
                                                        <div class="col-sm-12 col-md-3">
                                                            <input type="reset" class="btn clr clr1" name="clear_frm" id="clear_frm"
                                                                value="Clear Form" onclick="clearMemberHouseDetailsTab()">

                                                        </div>
                                                        <div class="col-sm-12 col-md-5"></div>
                                                        <div class="col-sm-12 col-md-2">
                                                            <input type="button" class="btn" name="sub" id="sub" value="Submit" onclick="memberHouseDetails()" >
                                                        </div>
                                                    </div>
                                                </form>
                                                </div>

                                                <!-- end -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%}%>

    <!-- EDIT -START-->
    <%if(pagetype=='EDIT'){%>

        <div class="content">
            <div class="row-sm ">
                <div class="col-sm-12">
                    <div class="card tp">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <form  action="../../memberDetailsModule/memberDetails/update_member_house_edit" method="post" autocomplete="off">
                            <h6>Member House Details</h6>

                            <!-- flash message -->
                            <% if(locals.message){ %>
                                <div class="text text-center" role="alert">
                                background-color: red;>
                                <strong style="color:green"><%= message.success_msg %></strong>
                                </div>
                            <% } %>

                            <hr>
                            <h6>Edit Records</h6>
                            <hr>
                            <div class="content">
                                <div class="container row mb-4">
                                    <div class="col-sm-12 col-md-6">
                                        <label for="mem_ed" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Select Member
                                            <span class="astrix">*</span></label>
                                        <select  class="col-sm-12 col-md-6" id="mem_ed" name="mem_ed">
                                                <option><%=selt_mem%></option>
                                            <% for(var i=0;i < memberdetails.length;i++) { %>

                                                <option value="<%=memberdetails[i].md_ch_member_id%>"><%=memberdetails[i].md_ch_member_id%></option>
                                                                          <% } %>
                                        </select>
                                    </div>

                                    <div class="col-sm-12 col-md-6">
                                        <label for="house_num_ed" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">House Number
                                            <span class="astrix">*</span></label>
                                                 <input type="text" class="col-sm-12 col-md-6" name="house_num_ed"
                                            id="house_num_ed" placeholder="" style="text-transform: capitalize" value="<%=house_num%>">
                                        </select>
                                    </div>
                                </div>

                                <div class="container row mt-2">
                                     <div class="col-sm-12 col-md-6 ">
                                        <label for="doj" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Address Line 1<span class="astrix">*</span>
                                        </label>
                                        <input type="text" class="col-sm-12 col-md-6" name="add_line1_ed"
                                            id="add_line1_ed" placeholder="" style="text-transform: capitalize" value="<%=add_line1%>">
                                    </div>

                                    <div class="col-sm-12 col-md-6 ">
                                        <label for="doj" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Village/Town<span class="astrix">*</span>
                                        </label>
                                        <input type="text" class="col-sm-12 col-md-6" name="village_ed"
                                            id="village_ed" placeholder="" style="text-transform: capitalize" value="<%=village%>">
                                    </div>
                                </div>

                                <div class="container row mt-4">
                                    <div id="datepicker" name="datepicker" class="col-sm-12 col-md-6">
                                        <label for="dob" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">City <span class="astrix">*</span>
                                        </label>

                                            <select name="city_ed" id="city_ed" class="col-sm-12 col-md-6"
                                            style="width:50%;">
                                            <option><%=city%></option>>
                                                <% for(var i=0;i < cities.length;i++) { %>
                                                <option value="<%= cities[i].comm_code_desc%>"><%= cities[i].comm_code_desc %></option>
                                                                          <% } %>
                                        </select>
                                    </div>

                                    <div id="datepicker" class="col-sm-12 col-md-6">
                                        <label for="hsestate_ed" class="mr-sm-4 col-sm-12 col-md-5 ste" style="padding-left:0% !important;">State <span class="astrix">*</span>
                                        </label>
                                        <select name="hsestate_ed" id="hsestate_ed" class="col-sm-12 col-md-6"
                                            style="width:50%;">
                                            <option><%=state%></option>>
                                                <% for(var i=0;i < states.length;i++) { %>
                                                <option value="<%= states[i].comm_code_desc%>"><%= states[i].comm_code_desc %></option>
                                                                          <% } %>
                                        </select>

                                    </div>
                                </div>

                                <div class="container row mt-4">
                                    <div class="col-sm-12 col-md-6">
                                        <label for="adm_no" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Pincode <span class="astrix">*</span>
                                        </label>
                                        <input type="text" class="col-sm-12 col-md-6" name="pincode_ed" id="pincode_ed" value="<%=pincode%>"
                                            placeholder=" " maxlength="6" >
                                    </div>

                                    <div class="col-sm-12 col-md-6">
                                        <label for="dept" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Description
                                        </label>
                                        <input type="text" class="col-sm-12 col-md-6" name="desc_ed" value="<%=desc%>"
                                            id="desc_ed" placeholder="" style="text-transform: capitalize">
                                    </div>
                                </div>

                                <div class="container row mt-2">
                                    <div class="col-sm-12 col-md-6">
                                        <label for="ent_fee" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Builtup Area Sqft <span class="astrix">*</span>
                                        </label>
                                        <input type="text" class="col-sm-12 col-md-6" name="area_ed" id="area_ed" value="<%=area%>"
                                            placeholder="" >
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <label for="opn_shr_bal" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Market Value <span class="astrix">*</span>
                                        </label>
                                        <input type="text" class="col-sm-12 col-md-6" name="market_value_ed" id="market_value_ed" value="<%=market_value%>"
                                        >
                                    </div>
                                </div>

                                <div class="container row mt-4">
                                    <div class="col-sm-12 col-md-2">
                                           <input hidden type="number" class="col-sm-12 col-md-6" name="house_edit_id" id="house_edit_id"
                                            placeholder="" value="<%=house_edit_id%>">
                                        <a type="button" class="btn" href="/memberDetailsModule/memberDetails/mem_hse_det_ser"
                                            name="mem_search_ed" id="mem_search_ed" value="Back to Search">Back to Search</a>
                                    </div>
                                    <div class="col-sm-12 col-md-3">
                                        <input type="reset" class="btn clr clr1" name="clear_frm_ed" id="clear_frm_ed"
                                            value="Clear Form" onclick="clearMemberHouseDetailsTab()">
                                    </div>
                                    <div class="col-sm-12 col-md-5"></div>
                                    <div class="col-sm-12 col-md-2">
                                        <input type="submit" class="btn" name="sub_ed" id="sub_ed" value="Submit" >
                                    </div>
                                </div>
                            </div>
                            <!-- end -->
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
        <!-- EDIT -END-->

         <!-- VIEW -START-->
<%if(pagetype=='VIEW'){%>
         <div class="content">
            <div class="row-sm ">
                <div class="col-sm-12">
                    <div class="card tp">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <form action="../../memberDetailsModule/memberDetails/view_house_data" method="post" id="housedetailsform_view">
                            <h6>Member House Details</h6>


                            <hr>
                            <h6>View Records</h6>
                            <hr>

                            <div class="content">
                                    <fieldset disabled>
                                <div class="container row mb-4">
                                    <div class="col-sm-12 col-md-6">
                                        <label for="mem_vw" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Select Member
                                            <span class="astrix">*</span></label>
                                        <select  class="col-sm-12 col-md-6" id="mem_vw" name="mem_vw">
                                                <option><%=house_num%></option>

                                        </select>
                                    </div>

                                    <div class="col-sm-12 col-md-6">
                                        <label for="house_num_ed" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">House Number
                                            <span class="astrix">*</span></label>
                                                 <input type="text" class="col-sm-12 col-md-6" name="house_num_vw"
                                            id="house_num_vw" placeholder="" style="text-transform: capitalize" value="<%=house_num%>">
                                        </select>
                                    </div>
                                </div>

                                <div class="container row mt-2">
                                     <div class="col-sm-12 col-md-6 ">
                                        <label for="doj" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Address Line 1<span class="astrix">*</span>
                                        </label>
                                        <input type="text" class="col-sm-12 col-md-6" name="add_line1_vw"
                                            id="add_line1_vw" placeholder="" style="text-transform: capitalize" value="<%=add_line1%>">
                                    </div>

                                    <div class="col-sm-12 col-md-6 ">
                                        <label for="doj" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Village/Town<span class="astrix">*</span>
                                        </label>
                                        <input type="text" class="col-sm-12 col-md-6" name="village_vw"
                                            id="village_vw" placeholder="" style="text-transform: capitalize" value="<%=village%>">
                                    </div>
                                </div>

                                <div class="container row mt-4">
                                    <div id="datepicker" name="datepicker" class="col-sm-12 col-md-6">
                                        <label for="city" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">City <span class="astrix">*</span>
                                        </label>

                                            <select name="city_vw" id="city_vw" class="col-sm-12 col-md-6"
                                            style="width:50%;">
                                            <option value="<%=city%>"><%=city%></option>>

                                        </select>
                                    </div>

                                    <div id="datepicker" class="col-sm-12 col-md-6">
                                        <label for="hsestate" class="mr-sm-4 col-sm-12 col-md-5 ste" style="padding-left:0% !important;">State <span class="astrix">*</span>
                                        </label>
                                        <select name="hsestate_vw" id="hsestate_vw" class="col-sm-12 col-md-6"
                                            style="width:50%;">
                                            <option value="<%=state%>" ><%=state%></option>>

                                        </select>

                                    </div>
                                </div>

                                <div class="container row mt-4">
                                    <div class="col-sm-12 col-md-6">
                                        <label for="adm_no" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Pincode <span class="astrix">*</span>
                                        </label>
                                        <input type="text" class="col-sm-12 col-md-6" name="pincode_vw" id="pincode_vw" value="<%=pincode%>"
                                            placeholder=" " maxlength="6" >
                                    </div>

                                    <div class="col-sm-12 col-md-6">
                                        <label for="dept" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Description
                                        </label>
                                        <input type="text" class="col-sm-12 col-md-6" name="desc_vw" value="<%=desc%>"
                                            id="desc_vw" placeholder="" style="text-transform: capitalize">
                                    </div>
                                </div>

                                <div class="container row mt-2">
                                    <div class="col-sm-12 col-md-6">
                                        <label for="ent_fee" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Builtup Area Sqft <span class="astrix">*</span>
                                        </label>
                                        <input type="text" class="col-sm-12 col-md-6" name="area_vw" id="area_vw" value="<%=area%>"
                                            placeholder="" >
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <label for="opn_shr_bal" class="mr-sm-4 col-sm-12 col-md-5" style="padding-left:0% !important;">Market Value <span class="astrix">*</span>
                                        </label>
                                        <input type="text" class="col-sm-12 col-md-6" name="market_value_vw" id="market_value_vw" value="<%=market_value%>"
                                        >
                                    </div>
                                </div>
                            </fieldset>
                                <div class="container row mt-4">

                                        <div class="col-sm-12 col-md-2">
                                    <div class="col-sm-12 col-md-2">
                                        <a type="button" class="btn" href="/memberDetailsModule/memberDetails/mem_hse_det_ser"
                                            name="bck_search_ed" id="bck_search_ed" value="Back to Search">Back to
                                            Search</a>
                                    </div>
                                </div>
                            </div>
                            <!-- end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
    </form>
        <!-- VIEW -END-->
    <% include ../includes/footer %>

</body>
<% include ../includes/bottom_scripts %>
</html>